<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.report.dao.ManageKanbanServiceDao">

    <select id="feedingList" resultType="map">
        SELECT
        detail.id AS id,
        plan.plan_no AS planNO,
        material.serial_no AS materialSerialNo,
        detail.`materiel_id` AS materielId,
        material.name AS materialName,
        material.specification AS specification,
        unituom.name AS unitUomName,
        IFNULL(detail.`plan_feeding`,0) AS planCount,
        IFNULL(detail.`out_count`,0) AS outCount,
        IFNULL(detail.`plan_feeding`,0)-IFNULL(detail.`out_count`,0) AS pendingCount
        FROM mes_production_feeding_detail detail
        LEFT JOIN mes_production_feeding feeding ON feeding.id= detail.`head_id`
        LEFT JOIN mes_production_plan plan ON plan.id= feeding.production_plan_id
        LEFT JOIN cus_materiel material ON material.`id` = detail.`materiel_id`
        LEFT JOIN cus_dictionary unituom ON unituom.id = material.unit_uom
        WHERE feeding.`production_plan_id` IS NOT NULL
        AND IFNULL(detail.`plan_feeding`,0) &gt; IFNULL(detail.`out_count`,0)
        AND feeding.status = 179
    </select>
</mapper>
