<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.report.dao.OutsourcedManagementAccountingReportDao">

    <select id="outsourcedContractList" resultType="java.util.Map">
        SELECT
        item.`id`,
        outsourcing.`id` AS outsourcingContractId,
        outsourcing.`contract_code` AS `contractCode`,
        outsourcing.contract_date AS contractDate,
        supplier.`id` AS `supplierId`,
        supplier.`name` AS supplierName,
        outsourcingUser.`user_id` AS `userId`,
        outsourcingUser.`name` AS userName,
        outsourcingUserDept.dept_id AS `deptId`,
        outsourcingUserDept.name AS deptName,
        materielType.name AS materielTypeName,
        materiel.serial_no AS materielSerialNo,
        materiel.name AS materielName,
        materiel.specification AS specification,
        unitUom.name AS unitUomName,
        item.`count` AS `count`,
        item.`tax_unit_price` AS taxUnitPrice,
        item.`tax_amount` AS taxAmount,
        0 AS sign,
        0 AS sortNo
        FROM
        scm_outsourcing_contract_item item
        LEFT JOIN scm_outsourcing_contract outsourcing ON outsourcing.id = item.contract_id
        LEFT JOIN cus_supplier supplier ON supplier.id = outsourcing.supplier_id
        LEFT JOIN sys_user outsourcingUser ON outsourcingUser.user_id = outsourcing.purchase_person
        LEFT JOIN sys_dept outsourcingUserDept ON outsourcingUserDept.dept_id = outsourcingUser.dept_id
        LEFT JOIN cus_materiel materiel ON materiel.`id`=item.`materiel_id`
        LEFT JOIN cus_materiel_type materielType ON materielType.`id`=materiel.`type`
        LEFT JOIN cus_dictionary unitUom ON unitUom.id = materiel.`unit_uom`
        <where>
            <if test="id != null and id != ''">and item.id = #{id}</if>
            <if test="startTime != null and startTime != ''">and DATE_FORMAT(outsourcing.contract_date,'%Y-%m-%d') &gt;=
                DATE_FORMAT(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">and DATE_FORMAT(outsourcing.contract_date,'%Y-%m-%d') &lt;=
                DATE_FORMAT(#{endTime},'%Y-%m-%d')
            </if>
            <if test="supplierName != null and supplierName != ''">and supplier.`name` LIKE #{supplierName}</if>
            <if test="supplierId != null and supplierId != ''">and supplier.`id` = #{supplierId}</if>
            <if test="materielType != null and materielType != ''">and materiel.`type` = #{materielType}</if>
            <if test="userId != null and userId != ''">and outsourcing.purchase_person = #{userId}</if>
            <if test="auditSign != null and auditSign != ''">and outsourcing.audit_sign = #{auditSign}</if>
            <if test="deptId != null and deptId != ''">and outsourcingUserDept.dept_id = #{deptId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by outsourcing.`id` desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="debtDueList" resultType="java.util.Map">
        SELECT
        pay.`id`,
        outsourcing.`id` AS outsourcingContractId,
        supplier.`id` AS supplierId,
        supplier.`name` AS supplierName,
        outsourcingUser.`name` AS userName,
        outsourcingUserDept.name AS deptName,
        outsourcing.`contract_code` AS `contractCode`,
        outsourcing.contract_date AS contractDate,
        pay.remarks AS remarks,
        pay.payable_date AS payableDate,
        pay.payable_amount AS payableAmount,
        pay.paid_amount AS paidAmount,
        pay.unpaid_amount AS unpaidAmount,
        0 AS sign,
        0 AS sortNo,
        DATEDIFF(DATE_FORMAT(now(),'%Y-%m-%d'),DATE_FORMAT(pay.payable_date,'%Y-%m-%d')) AS expiryDays
        FROM scm_outsourcing_contract_pay pay
        LEFT JOIN scm_outsourcing_contract outsourcing ON outsourcing.id = pay.contract_id
        LEFT JOIN cus_supplier supplier ON supplier.id = outsourcing.supplier_id
        LEFT JOIN sys_user outsourcingUser ON outsourcingUser.user_id = outsourcing.purchase_person
        LEFT JOIN sys_dept outsourcingUserDept ON outsourcingUserDept.dept_id = outsourcingUser.dept_id
        <where>
            <if test="id != null and id != ''">and pay.id = #{id}</if>
            <if test="endTime != null and endTime != ''">and DATE_FORMAT(pay.payable_date,'%Y-%m-%d') &lt;=
                DATE_FORMAT(#{endTime},'%Y-%m-%d')
            </if>
            <if test="supplierName != null and supplierName != ''">and supplier.`name` LIKE #{supplierName}</if>
            <if test="supplierId != null and supplierId != ''">and supplier.`id` = #{supplierId}</if>
            <if test="userId != null and userId != ''">and outsourcingUser.user_id = #{userId}</if>
            <if test="deptId != null and deptId != ''">and outsourcingUser.dept_id = #{deptId}</if>
            <if test="auditSign != null and auditSign != ''">and outsourcing.audit_sign = #{auditSign}</if>
            AND pay.unpaid_amount &gt; 0
        </where>
        ORDER BY pay.payable_date
    </select>

    <select id="balanceList" resultType="java.util.Map">
        SELECT
        pay.`id`,
        outsourcing.`id` AS outsourcingContractId,
        supplier.`id` AS supplierId,
        supplier.`name` AS supplierName,
        outsourcingUser.`name` AS userName,
        outsourcingUserDept.name AS deptName,
        outsourcing.`contract_code` AS `contractCode`,
        outsourcing.contract_date AS contractDate,
        0 AS sign,
        0 AS sortNo,
        SUM(pay.payable_amount) AS payableAmount,
        SUM(pay.paid_amount) AS paidAmount,
        SUM(pay.unpaid_amount) AS unpaidAmount
        FROM scm_outsourcing_contract_pay pay
        LEFT JOIN scm_outsourcing_contract outsourcing ON outsourcing.id = pay.contract_id
        LEFT JOIN cus_supplier supplier ON supplier.id = outsourcing.supplier_id
        LEFT JOIN sys_user outsourcingUser ON outsourcingUser.user_id = outsourcing.purchase_person
        LEFT JOIN sys_dept outsourcingUserDept ON outsourcingUserDept.dept_id = outsourcingUser.dept_id
        <where>
            <if test="id != null and id != ''">and pay.id = #{id}</if>
            <if test="endTime != null and endTime != ''">and DATE_FORMAT(outsourcing.contract_date,'%Y-%m-%d') &lt;=
                DATE_FORMAT(#{endTime},'%Y-%m-%d')
            </if>
            <if test="supplierName != null and supplierName != ''">and supplier.`name` LIKE #{supplierName}</if>
            <if test="supplierId != null and supplierId != ''">and supplier.`id` = #{supplierId}</if>
            <if test="userId != null and userId != ''">and outsourcingUser.user_id = #{userId}</if>
            <if test="deptId != null and deptId != ''">and outsourcingUser.dept_id = #{deptId}</if>
            <if test="auditSign != null and auditSign != ''">and outsourcing.audit_sign = #{auditSign}</if>
        </where>
        GROUP BY pay.contract_id
        ORDER BY outsourcing.contract_date,unpaidAmount DESC

    </select>

    <select id="inOutReconciliationList" resultType="java.util.Map">
        SELECT
        stockOut.supplier_id AS supplierId,
        supplier.code AS supplierCode,
        supplier.name AS supplierName,
        materiel.`id` AS materielId,
        materiel.serial_no AS materielSerialNo,
        materiel.name AS materielName,
        materiel.specification AS specification,
        unitUom.name AS unitUomName,
        item.`batch` AS batch,
        SUM(item.`count`) AS `count`,
        IFNULL(SUM(item.charge_off_count),0) AS chargeOffCount,
        SUM(item.`count`)-IFNULL(SUM(item.charge_off_count),0) AS diffCount
        FROM scm_stock_out_item item
        LEFT JOIN scm_stock_out stockOut ON stockOut.id=item.out_id
        LEFT JOIN cus_supplier supplier ON supplier.`id`=stockOut.`supplier_id`
        LEFT JOIN cus_materiel materiel ON materiel.`id`=item.`materiel_id`
        LEFT JOIN cus_dictionary unitUom ON unitUom.id = materiel.`unit_uom`
        <where>
            <if test="id != null and id != ''">and stockOut.id = #{id}</if>
            <if test="supplierId != null and supplierId != ''">and supplier.id = #{supplierId}</if>
            <if test="deptId != null and deptId != ''">and stockOut.dept_id = #{deptId}</if>
            <if test="outboundType != null and outboundType != ''">and stockOut.outbound_type = #{outboundType}</if>
            <if test="auditor != null and auditor != ''">and stockOut.auditor = #{auditor}</if>
            <if test="auditSign != null and auditSign != ''">and stockOut.audit_sign = #{auditSign}</if>
            <if test="delFlag != null and delFlag != ''">and stockOut.del_flag = #{delFlag}</if>
            <if test="endTime != null and endTime != ''">and DATE_FORMAT(stockOut.create_time,'%Y-%m-%d') &lt;=
                DATE_FORMAT(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                GROUP BY supplier.id,materiel.`id`,item.`batch`
                ORDER BY supplier.id,materiel.`id`,diffCount desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="contractPayItem" resultType="com.ev.report.vo.ContractPayItemVO">
        SELECT
        id,
        paid_amount AS receivedAmount,
        unpaid_amount AS unReceivedAmount,
        contract_id AS sourceId
        FROM scm_outsourcing_contract_pay
        <where>
            <if test="sourceIds != null and sourceIds.size()>0">and contract_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
    </select>
    <select id="billItem" resultType="com.ev.report.vo.ContractBillItemVO">
        SELECT
        item.`id`,
        bill.bill_code AS `code`,
        item.`source_id`,
        item.`source_code`,
        item.amount,
        item.`count`
        FROM
        scm_processing_charge_item item
        LEFT JOIN scm_processing_charge bill ON bill.id=item.charge_id
        <where>
            <if test="sourceIds != null and sourceIds.size()>0">and item.source_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceType != null and sourceType != ''">and item.source_type = #{sourceType}</if>
            <if test="auditSign != null and auditSign != ''">and bill.audit_sign = #{auditSign}</if>
        </where>
    </select>

</mapper>
