<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.report.dao.QualityManagementAccountingReportDao">

    <!--采购不良&&产品不良-->
    <select id="badPurchaseList" resultType="java.util.Map">
        SELECT
        detail.id AS id,
        inspection.supplier_id AS supplierId,
        supplier.`name` AS supplierName,
        materiel.`serial_no` AS serialNo,
        materiel.`id` AS materielId,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        poor.`id` AS poorId,
        poor.`name` AS poorName,
        inspection.dept_id AS deptId,
        dept.`name` AS deptName,
        inspection.batch_no AS batch,
        0 AS sign,
        0 AS sortNo,
        SUM(detail.unqualified_count) AS unqualifiedCount
        FROM mes_material_inspection_detail detail
        LEFT JOIN mes_material_inspection inspection ON detail.`head_id`=inspection.id
        LEFT JOIN cus_supplier supplier ON supplier.id=inspection.supplier_id
        LEFT JOIN cus_materiel materiel ON materiel.id=inspection.`materiel_id`
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN mes_poor poor ON poor.id=detail.reason_id
        LEFT JOIN sys_dept dept ON dept.dept_id=inspection.dept_id
        <where>
            <if test="inspectionType != null and inspectionType != ''"> and inspection.inspection_type = #{inspectionType} </if>
            <if test="status != null and status != ''"> and inspection.status = #{status} </if>
            <if test="deptId != null and deptId != ''"> and inspection.dept_id = #{deptId} </if>
            <if test="supplierId != null and supplierId != ''"> and inspection.supplier_id = #{supplierId} </if>
            <if test="materielId != null and materielId != ''"> and inspection.`materiel_id` = #{materielId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(inspection.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(inspection.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            AND detail.reason_id IS NOT NULL
            AND detail.unqualified_count &gt; 0
        </where>
        <choose>
            <when test="groupBatch == 1">
                GROUP BY inspection.supplier_id,materiel.`id`,poor.`id`,inspection.batch_no
            </when>
            <otherwise>
                GROUP BY inspection.supplier_id,materiel.`id`,poor.`id`
            </otherwise>
        </choose>
        ORDER BY inspection.supplier_id,materiel.`id`,poor.`id`
    </select>

    <!--工序检验单 报工单创建人为操作工-->
    <select id="badProcessList" resultType="java.util.Map">
        SELECT
        item.id AS id,
        mwpd.dept_id AS deptId,
        dept.name AS deptName,
        mwpd.process_id AS processId,
        mp.`name` AS processName,
        mdi.device_id AS deviceId,
        cd.`name` AS deviceName,
        mpr.create_by AS operator,
        su.`name` AS operatorName,
        materiel.`id` AS materielId,
        materiel.serial_no AS materielSerialNo,
        materiel.name AS materielName,
        materiel.specification AS specification,
        unituom.name AS unitUomName,
        mpo.id AS poorId,
        mpo.name AS poorName,
        0 AS sign,
        0 AS sortNo,
        item.rejects_count AS rejectsCount
        FROM
        mes_process_report_check_item item
        LEFT JOIN mes_process_report_check mprc ON mprc.id=item.report_check_id
        LEFT JOIN mes_process_report mpr ON mpr.id=mprc.process_report_id
        LEFT JOIN mes_dispatch_item mdi ON mdi.id=mpr.dispatch_item_id
        LEFT JOIN mes_working_procedure_detail mwpd ON mwpd.id=mdi.foriegn_id
        LEFT JOIN mes_process mp ON mp.id=mwpd.process_id
        LEFT JOIN cus_device cd ON cd.id=mdi.device_id
        LEFT JOIN sys_dept dept ON dept.dept_id=mwpd.dept_id
        LEFT JOIN sys_user su ON su.user_id=mpr.create_by
        LEFT JOIN mes_poor mpo ON mpo.id=item.rejects_reason
        LEFT JOIN cus_materiel materiel ON materiel.`id`= mprc.`materia_id`
        LEFT JOIN cus_dictionary unituom ON unituom.id = materiel.`unit_uom`
        <where>
            <if test="deptId != null and deptId != ''"> and mwpd.dept_id = #{deptId} </if>
            <if test="processId != null and processId != ''"> and mp.id = #{processId} </if>
            <if test="operator != null and operator != ''"> and mpr.create_by = #{operator} </if>
            <if test="deviceId != null and deviceId != ''"> and mdi.device_id = #{deviceId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(item.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(item.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            AND mpo.id IS NOT NULL
            AND item.rejects_count &gt; 0
        </where>
        <choose>
            <when test="isGroup == 1">
                GROUP BY mwpd.dept_id,mp.id,cd.id,mpr.create_by,materiel.`id`,mpo.`id`
                ORDER BY mwpd.dept_id,mp.id,cd.id,mpr.create_by,materiel.`id`,mpo.`id`
            </when>
            <otherwise>
                ORDER BY mwpd.dept_id,mp.id
            </otherwise>
        </choose>
    </select>

    <!--采购入库&来料检验&生产领料&生产计划-->
    <select id="qualityTraceabilityList" resultType="java.util.Map">
        SELECT
        typeId,
        typeName,
        id,
        `time`,
        UNIX_TIMESTAMP(`time`) AS times,
        `code`,
        materielId,
        serialNo,
        materielName,
        specification,
        unitUomName,
        batch,
        SUM(`count`) AS `count`,
        facilityName,
        way,
        locationName,
        sourceTypeName,
        0 AS sign,
        sortNo,
        sourceCode
        FROM
        (
        SELECT
        dicst.`id` AS typeId,
        dicst.`name` AS typeName,
        stock.id AS id,
        stock.create_time AS `time`,
        stock.inhead_code AS `code`,
        materiel.`id` AS materielId,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        item.`batch` AS batch,
        item.`count` AS `count`,
        facility.`name` AS facilityName,
        location.`name` AS locationName,
        dict.`name` AS sourceTypeName,
        'in' AS way,
        1 AS sortNo,
        item.source_code AS sourceCode
        FROM
        scm_stock_in_item item
        LEFT JOIN scm_stock_in stock ON stock.id=item.inhead_id
        LEFT JOIN cus_materiel materiel ON materiel.id=item.materiel_id
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN cus_facility facility ON facility.id = item.warehouse
        LEFT JOIN cus_facility_location location ON location.id = item.wareh_location
        LEFT JOIN cus_dictionary dict ON dict.`id`=item.source_type
        LEFT JOIN cus_dictionary dicst ON dicst.`id`=stock.storage_type
        <where>
            <if test="storageType != null and storageType != ''"> and stock.storage_type = #{storageType} </if>
            <if test="storageTypes != null and storageTypes.size()>0"> and stock.storage_type IN
                <foreach item="item" collection="storageTypes" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>


            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>

            <if test="batch != null and batch != ''"> and item.`batch` = #{batch} </if>
            <if test="materielId != null and materielId != ''"> and item.`materiel_id` = #{materielId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            AND materiel.is_lot=1
        </where>
        UNION ALL
        SELECT
        inspection.inspection_type AS typeId,
        dici.`name` AS typeName,
        inspection.id AS id,
        inspection.create_time AS `time`,
        inspection.inspection_no AS `code`,
        materiel.`id` AS materielId,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        inspection.`batch_no` AS batch,
        inspection.inspection_count AS `count`,
        '' AS facilityName,
        '' AS locationName,
        dict.`name` AS sourceTypeName,
        'in' AS way,
        1 AS sortNo,
        inspection.source_no AS sourceCode
        FROM
        <choose>
            <when test="isQuality == 1">
                view_inspection_contract_in viewi
            </when>
            <otherwise>
                view_inspection_contract_pro viewi
            </otherwise>
        </choose>
        LEFT JOIN mes_material_inspection inspection ON viewi.id=inspection.id
        LEFT JOIN cus_materiel materiel ON materiel.id=inspection.materiel_id
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN cus_dictionary dict ON dict.`id`=inspection.source_type
        LEFT JOIN cus_dictionary dici ON dici.`id`=inspection.inspection_type
        <where>
            <if test="inspectionType != null and inspectionType != ''"> and inspection.inspection_type = #{inspectionType} </if>

            <if test="auditSign != null and auditSign != ''"> and inspection.status = #{auditSign} </if>

            <!--<if test="batch != null and batch != ''"> and inspection.`batch_no` = #{batch} </if>-->
            <if test="materielId != null and materielId != ''"> and inspection.`materiel_id` = #{materielId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(inspection.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(inspection.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            <!--AND materiel.is_lot=1-->
        </where>
        UNION ALL
        SELECT
        dico.`id` AS typeId,
        dico.`name` AS typeName,
        sout.id AS id,
        sout.`create_time` AS `time`,
        sout.`out_code` AS `code`,
        materiel.`id` AS materielId,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        item.`batch` AS batch,
        item.count AS `count`,
        facility.`name` AS facilityName,
        location.`name` AS locationName,
        dict.`name` AS sourceTypeName,
        'out' AS way,
        1 AS sortNo,
        item.source_code AS sourceCode
        FROM
        scm_stock_out_item item
        LEFT JOIN scm_stock_out sout ON sout.id=item.out_id
        LEFT JOIN scm_stock stock ON stock.id=item.stock_id
        LEFT JOIN cus_facility facility ON facility.id = stock.warehouse
        LEFT JOIN cus_facility_location location ON location.id = stock.wareh_location
        LEFT JOIN cus_materiel materiel ON materiel.id=item.materiel_id
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN cus_dictionary dict ON dict.`id`=item.source_type
        LEFT JOIN cus_dictionary dico ON dico.`id`=sout.outbound_type
        <where>
            <if test="outboundType != null and inspectionType != ''"> and sout.outbound_type = #{outboundType} </if>
            <if test="outboundTypes != null and outboundTypes.size()>0"> and sout.outbound_type IN
                <foreach item="item" collection="outboundTypes" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>

            <if test="auditSign != null and auditSign != ''"> and sout.audit_sign = #{auditSign} </if>

            <if test="batch != null and batch != ''"> and item.`batch` = #{batch} </if>
            <if test="materielId != null and materielId != ''"> and item.`materiel_id` = #{materielId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(sout.`out_time`,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(sout.`out_time`,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            AND materiel.is_lot=1
            </where>
        <if test="isPlan != null and isPlan != ''">
            UNION ALL
            SELECT
            278 AS typeId,
            '生产计划' AS typeName,
            plan.`id` AS id,
            plan.`create_time` AS `time`,
            plan.`plan_no` AS `code`,
            materiel.`id` AS materielId,
            materiel.`serial_no` AS serialNo,
            materiel.`name` AS materielName,
            materiel.`specification` AS specification,
            dic.`name` AS unitUomName,
            plan.`batch_no` AS batch,
            plan.plan_count AS `count`,
            '' AS facilityName,
            '' AS locationName,
            dict.`name` AS sourceTypeName,
            'in' AS way,
            1 AS sortNo,
            plan.source_no AS sourceCode
            FROM mes_production_plan plan
            LEFT JOIN cus_materiel materiel ON materiel.id=plan.materiel_id
            LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
            LEFT JOIN cus_dictionary dict ON dict.`id`=plan.source_type
            <where>
                <if test="materielId != null and materielId != ''"> and plan.`materiel_id` = #{materielId} </if>
                <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(plan.`create_time`,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
                <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(plan.`create_time`,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            </where>
        </if>
        ) a
        GROUP BY a.`id`,a.`typeId`


    </select>

</mapper>
