<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.report.dao.SmartManufacturingAccountingReportDao">

    <select id="productionPlanList" resultType="java.util.Map">
        SELECT
        plan.`id` AS id,
        plan.`plan_no` AS planNo,
        dicts.`name` AS  planStatusName,
        dept.`name` AS deptName,
        materiel.serial_no AS materielSerialNo,
        materiel.name AS materielName,
        materiel.specification AS specification,
        unituom.name AS unitUomName,
        IFNULL(plan.`plan_end_time`,'') AS planEndTime,
        IFNULL(plan.`actual_finish_time`,'') AS actualFinishTime,
        plan.`plan_count` AS planCount
        <include refid="sql_productionPlanList_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
            <otherwise>
                ORDER BY plan.`id` DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="productionPlanCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        <include refid="sql_productionPlanList_condition"/>
    </select>
    <sql id="sql_productionPlanList_condition">
        FROM mes_production_plan plan
        LEFT JOIN cus_materiel materiel ON materiel.`id`= plan.`materiel_id`
        LEFT JOIN cus_dictionary unituom ON unituom.id = materiel.`unit_uom`
        LEFT JOIN sys_dept dept ON dept.`dept_id`=plan.`pro_dept`
        LEFT JOIN cus_dictionary dicts ON dicts.id = plan.`status`
        <where>
            <if test="id != null and id != ''"> and plan.id = #{id} </if>
            <if test="planCode != null and planCode != ''"> and plan.`plan_no` = #{planCode} </if>
            <if test="materielId != null and materielId != ''"> and plan.`materiel_id` = #{materielId} </if>
            <if test="deptId != null and deptId != ''"> and plan.`pro_dept` = #{deptId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(plan.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(plan.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            <if test="materielSerialNo != null and materielSerialNo != ''"> and materiel.serial_no LIKE #{materielSerialNo} </if>
            <if test="status != null and status != ''"> and plan.status <![CDATA[<>]]> #{status} </if>
        </where>
    </sql>

    <select id="processReport" resultType="com.ev.report.vo.ProcessReportVO">
        SELECT
        a.id as id,
        a.code as code,
        IFNULL(a.create_time,'') as createTime,
        h.name as processName,
        a.create_by AS createBy,
        b.operator,
        c.name as operatorName,
        n.name as deviceName,
        e.materiel_id as materielId,
        f.serial_no as serialNo,
        f.name as materielName,
        f.specification,
        g.name as unitName,
        e.batch_no as batchNo,
        IFNULL(a.completion_count,0) as completionCount,
        IFNULL(mn.conformity_count,0) AS conformityCount,
        IFNULL(mn.rework_count,0) AS reworkCount,
        IFNULL(mn.scrap_count,0) AS scrapCount,
        b.foriegn_id AS processPlanItemId
        from
        mes_process_report  a
        LEFT JOIN  mes_dispatch_item   b ON a.dispatch_item_id =b.id
        LEFT JOIN  sys_user   c    on  b.operator=c.user_id
        LEFT JOIN  mes_working_procedure_detail  d  on  b.foriegn_id=d.id
        LEFT JOIN  mes_working_procedure_plan    e  on  d.plan_id=e.id
        LEFT JOIN  cus_materiel    f  on  e.materiel_id=f.id
        LEFT JOIN  cus_dictionary    g  on  f.unit_uom=g.id
        LEFT JOIN  mes_process    h  on  d.process_id=h.id
        LEFT JOIN  cus_device   n  on  b.device_id=n .id
        LEFT JOIN  mes_process_report_check mn on a.id=mn.process_report_id
        <where>
            <if test="deptId != null and deptId != ''"> and d.`dept_id` = #{deptId} </if>
            <if test="userId != null and userId != ''"> and b.operator = #{userId} </if>
            <if test="processId != null and processId != ''"> and d.process_id = #{processId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(a.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(a.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            <if test="planIds != null and planIds.size()>0"> and b.foriegn_id  IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order},id desc
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="processOutputCount" resultType="map">
        SELECT
        COUNT(*) AS total,
        IFNULL(SUM(a.completion_count),0) as completionCount,
        IFNULL(SUM(mn.conformity_count),0) AS conformityCount,
        IFNULL(SUM(mn.rework_count),0) AS reworkCount,
        IFNULL(SUM(mn.scrap_count),0) AS scrapCount
        from
        mes_process_report  a
        LEFT JOIN  mes_dispatch_item   b ON a.dispatch_item_id =b.id
        LEFT JOIN  sys_user   c    on  b.operator=c.user_id
        LEFT JOIN  mes_working_procedure_detail  d  on  b.foriegn_id=d.id
        LEFT JOIN  mes_working_procedure_plan    e  on  d.plan_id=e.id
        LEFT JOIN  cus_materiel    f  on  e.materiel_id=f.id
        LEFT JOIN  cus_dictionary    g  on  f.unit_uom=g.id
        LEFT JOIN  mes_process    h  on  d.process_id=h.id
        LEFT JOIN  cus_device   n  on  b.device_id=n .id
        LEFT JOIN  mes_process_report_check mn on a.id=mn.process_report_id
        <where>
            <if test="deptId != null and deptId != ''"> and d.`dept_id` = #{deptId} </if>
            <if test="userId != null and userId != ''"> and b.operator = #{userId} </if>
            <if test="processId != null and processId != ''"> and d.process_id = #{processId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(a.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(a.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            <if test="planIds != null and planIds.size()>0"> and b.foriegn_id  IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
    </select>


    <select id="processReportCheck" resultType="com.ev.report.vo.ProcessReportCheckVO">
        SELECT
        rcheck.id,
        rcheck.`code`,
        rcheck.`process_report_id`,
        rcheck.`materia_id`,
        rcheck.`supplier_id`,
        rcheck.`check_plan_id`,
        IFNULL(rcheck.`conformity_count`,0) AS conformity_count,
        IFNULL(rcheck.`rework_count`,0) AS rework_count,
        IFNULL(rcheck.`scrap_count`,0) AS scrap_count,
        IFNULL(rcheck.`check_count`,0) AS check_count,
        rcheck.`status`,
        rcheck.`create_by`,
        rcheck.`create_time`,
        rcheck.`update_by`,
        rcheck.`update_time`,
        rcheck.`del_flag`,
        dispatch.foriegn_id AS process_plan_item_id
        FROM
        mes_process_report_check rcheck
        LEFT JOIN mes_process_report report ON report.id = rcheck.process_report_id
        LEFT JOIN mes_dispatch_item dispatch ON dispatch.id = report.dispatch_item_id
        <where>
            <if test="planIds != null and planIds.size()>0"> and  dispatch.foriegn_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
    </select>

    <select id="materielScrapItem" resultType="com.ev.report.vo.MaterialsScrapItemVO">
        SELECT
        item.`id`,
        item.`scrap_id`,
        item.`material_id`,
        item.`batch`,
        item.`scrap_reason`,
        IFNULL(item.`scrap_count`,0) AS scrap_count,
        item.`remark`,
        item.`create_by`,
        item.`create_time`,
        item.`update_by`,
        item.`update_time`,
        item.`del_flag`,
        feeding.production_plan_id
        FROM
        mes_materials_scrap_item item
        LEFT JOIN mes_materials_scrap scrap ON scrap.id = item.scrap_id
        LEFT JOIN mes_production_feeding_detail detail ON detail.id = scrap.foreign_id
        LEFT JOIN mes_production_feeding feeding ON feeding.id = detail.head_id
        <where>
            <if test="planIds != null and planIds.size()>0"> and feeding.production_plan_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
    </select>

    <select id="productionInspection" resultType="com.ev.report.vo.MaterialInspectionVO">
        SELECT
            `id`,
            `inspection_type`,
            `source_id`,
            `source_no`,
            `source_type`,
            `supplier_id`,
            `client_id`,
            `dept_id`,
            `inspector`,
            `materiel_id`,
            `batch_no`,
            `inspection_scheme`,
            `send_count`,
            `inspection_count`,
            `qualified_count`,
            `unqualified_count`,
            `inspection_no`,
            `industrial_waste_count`,
            `scrap_waste_count`,
            `auditor`,
            `status`,
            `is_printed_qrcode`,
            `remarks`,
            `create_by`,
            `create_time`,
            `update_by`,
            `update_time`,
            `del_flag`
        FROM
            mes_material_inspection
        <where>
            <if test="sourceType != null and sourceType != ''"> and source_type = #{sourceType} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="inspectionType != null and inspectionType != ''"> and inspection_type = #{inspectionType} </if>
            <if test="planIds != null and planIds.size()>0"> and source_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>

    </select>

    <select id="stockInItem" resultType="com.ev.report.vo.StockInItemVO">
        SELECT
        item.`id`,
        item.`inhead_id`,
        item.`materiel_id`,
        item.`batch`,
        item.`count`,
        item.`unit_price`,
        item.`amount`,
        item.`warehouse`,
        item.`wareh_location`,
        item.`return_reason`,
        item.`source_type`,
        item.`source_code`,
        item.`source_id`,
        item.`expense`,
        item.`cost`,
        item.`create_by`,
        item.`create_time`,
        item.`update_by`,
        item.`update_time`,
        item.`del_flag`,
        item.`qrcode_id`,
        item.`account_source`,
        stock.inhead_code AS stockInCode,
        stock.in_out_time
        FROM
        scm_stock_in_item item
        LEFT JOIN scm_stock_in stock ON stock.id=item.inhead_id
        <where>
            <if test="planIds != null and planIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceIds != null and sourceIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>
            <if test="sourceType != null and sourceType != ''"> and item.source_type = #{sourceType} </if>
            <if test="planId != null and planId != ''"> and item.source_id = #{planId} </if>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
    </select>

    <select id="stockOutItem" resultType="com.ev.report.vo.StockOutItemVO">
        SELECT
        item.`id`,
        stock.out_code AS stockOutCode,
        stock.out_time AS outTime,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        item.`batch`,
        item.`source_id`,
        item.`source_code`,
        item.`amount`,
        item.`count`
        FROM
        scm_stock_out_item item
        LEFT JOIN scm_stock_out stock ON stock.id=item.out_id
        LEFT JOIN cus_materiel materiel ON materiel.id=item.`materiel_id`
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN mes_production_feeding_detail detail ON detail.id=item.source_id
        LEFT JOIN mes_production_feeding feeding ON feeding.id=detail.head_id
        <where>
            <if test="planIds != null and planIds.size()>0"> and feeding.production_plan_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceIds != null and sourceIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceType != null and sourceType != ''"> and item.source_type = #{sourceType} </if>
            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>
            <if test="planId != null and planId != ''"> and feeding.production_plan_id = #{planId} </if>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
    </select>

    <select id="processPlanList" resultType="java.util.Map">
        SELECT
        detail.`id`,
        plan.`work_order_no` AS planNo,
        dicts.`name` AS planStatusName,
        dept.`name` AS deptName,
        materiel.serial_no AS materielSerialNo,
        materiel.`name` AS materielName,
        materiel.specification AS specification,
        unituom.`name` AS unitUomName,
        process.`name` AS processName,
        IFNULL(detail.`plan_end_time`, '') AS planEndTime,
        IFNULL(detail.reality_end_time, '') AS actualFinishTime,
        IFNULL(detail.plan_count, 0) AS planCount
        <include refid="sql_processPlan_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
            <otherwise>
                ORDER BY detail.`id` DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="processPlanCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        <include refid="sql_processPlan_condition"/>
    </select>
    <sql id="sql_processPlan_condition">
        FROM
        mes_working_procedure_detail detail
        LEFT JOIN mes_working_procedure_plan plan ON plan.id = detail.plan_id
        LEFT JOIN sys_dept dept ON dept.dept_id = detail.dept_id
        LEFT JOIN mes_process process ON process.id = detail.process_id
        LEFT JOIN cus_dictionary dicts ON dicts.id = plan.`status`
        LEFT JOIN cus_materiel materiel ON materiel.`id` = plan.`materiel_id`
        LEFT JOIN cus_dictionary unituom ON unituom.id = materiel.`unit_uom`
        <where>
            <if test="id != null and id != ''"> and plan.id = #{id} </if>
            <if test="planCode != null and planCode != ''"> and plan.`work_order_no` = #{planCode} </if>
            <if test="materielId != null and materielId != ''"> and plan.`materiel_id` = #{materielId} </if>
            <if test="deptId != null and deptId != ''"> and detail.`dept_id` = #{deptId} </if>
            <if test="startTime != null and startTime != ''">  and  DATE_FORMAT(plan.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(plan.create_time,'%Y-%m-%d') &lt;=  DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            <if test="materielSerialNo != null and materielSerialNo != ''"> and materiel.serial_no LIKE #{materielSerialNo} </if>
            <if test="status != null and status != ''"> and plan.status <![CDATA[<>]]> #{status} </if>
        </where>
    </sql>

    <select id="pieceRateItem" resultType="com.ev.report.vo.PieceRateVO">
        SELECT
        report.id,
        detail.dept_id AS deptId,
        dept.`name` AS deptName,
        report.`create_by` AS operator,
        users.`name` AS operatorName,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        report.code AS code,
        report.create_time AS createTime,
        process.code AS processCode,
        process.`name`  AS processName,
        IFNULL(report.conformity_count,0) AS conformityCount,
        IFNULL(detail.labour_price,0) AS labourPrice,
        IFNULL(report.conformity_count,0)*IFNULL(detail.labour_price,0) AS totalPrice,
        0 AS sign,
        0 AS sortNo
        FROM mes_process_report report
        LEFT JOIN mes_dispatch_item dispatch ON dispatch.id = report.dispatch_item_id
        LEFT JOIN mes_working_procedure_detail detail ON detail.id = dispatch.foriegn_id
        LEFT JOIN mes_working_procedure_plan plan ON plan.id = detail.plan_id
        LEFT JOIN sys_dept dept ON dept.dept_id = detail.dept_id
        LEFT JOIN sys_user users ON users.user_id =  report.`create_by`
        LEFT JOIN cus_materiel materiel ON materiel.id=plan.`materiel_id`
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN mes_process process ON process.id=detail.process_id
        <where>
            <if test="userId != null and userId != ''"> and report.`create_by` = #{userId} </if>
            <if test="deptId != null and deptId != ''"> and detail.dept_id  = #{deptId} </if>
            <if test="deptIds != null and deptIds.size()>0"> and detail.dept_id IN
                <foreach item="item" collection="deptIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
        </where>
        ORDER BY detail.dept_id
    </select>

</mapper>
