<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.report.dao.WarehouseAccountingReportDao">
    <select id="inOutStockItem" resultType="com.ev.report.vo.InOutStockItemVO">
        SELECT
        *
        FROM (
        SELECT
        stock.in_out_time AS `inOutTime`,
        UNIX_TIMESTAMP(stock.in_out_time) AS times,
        LEFT(stock.in_out_time,7) AS period,
        item.`batch`,
        stock.inhead_code AS `code`,
        dic.`name` AS storageTypeName,
        item.`count`,
        item.`unit_price` AS unitPrice,
        0 AS sign,
        0 AS `type`,
        1 AS sortNo,
        item.`amount`
        FROM
        scm_stock_in_item item
        LEFT JOIN scm_stock_in stock ON stock.id=item.inhead_id
        LEFT JOIN cus_dictionary dic ON dic.id=stock.storage_type
        <where>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
        UNION ALL
        SELECT
        stock.out_time AS `inOutTime`,
        UNIX_TIMESTAMP(stock.out_time) AS times,
        LEFT(stock.out_time,7) AS period,
        item.`batch`,
        stock.out_code AS `code`,
        dic.`name` AS storageTypeName,
        item.`count`,
        item.`unit_price` AS unitPrice,
        0 AS sign,
        1 AS `type`,
        1 AS sortNo,
        item.`amount`
        FROM
        scm_stock_out_item item
        LEFT JOIN scm_stock_out stock ON stock.id=item.out_id
        LEFT JOIN cus_dictionary dic ON dic.id=stock.outbound_type
        <where>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
        )a

    </select>

    <select id="stockList" resultType="java.util.Map">
        SELECT
        *
        FROM
        (
        SELECT
        ty.`name` AS typeName,
        stock.`materiel_id` AS materielId,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        dic.`name` AS unitUomName,
        materiel.`specification` AS specification,
        materiel.sec_inven_count AS secInvenCount,
        IFNULL(SUM(stock.`count`),0) AS `stockCount`,
        materiel.sec_inven_count -  IFNULL(SUM(stock.`count`),0) AS differenceCount,
        '库存不足' AS statusName
        FROM
        scm_stock stock
        LEFT JOIN cus_materiel materiel ON materiel.id = stock.`materiel_id`
        LEFT JOIN cus_materiel_type ty ON ty.id = materiel.`type`
        LEFT JOIN cus_dictionary dic ON dic.`id` = materiel.`unit_uom`
        <where>
            <if test="materielId != null and materielId != ''"> and stock.materiel_id = #{materielId} </if>
            <if test="materielType != null and materielType != ''"> and materiel.`type` = #{materielType} </if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.entering_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
            AND IFNULL(materiel.sec_inven_count,0)>0
        </where>
        GROUP BY stock.materiel_id
        ) a
        WHERE differenceCount>0
    </select>

        <select id="pickingSummary" resultType="java.util.Map">
                SELECT
                dept.`name` AS deptName,
                headm.`id` AS productId,
                headm.`serial_no` AS productSerialNo,
                headm.`name` AS productName,
                headm.`specification` AS productSpecification,
                dich.`name` AS productUnitUomName,
                itemm.`id` AS materielId,
                itemm.`serial_no` AS serialNo,
                itemm.`name` AS materielName,
                itemm.`specification` AS specification,
                dici.`name` AS unitUomName,
                SUM(item.count) AS `count`,
                SUM(item.amount) AS amount,
                0 AS sign,
                0 AS sortNo
                FROM
                scm_stock_out_item item
                LEFT JOIN scm_stock_out sto ON sto.id = item.out_id
                LEFT JOIN mes_production_feeding_detail feedt ON feedt.id = item.`source_id`
                LEFT JOIN mes_production_feeding feed ON feed.id = feedt.head_id
                LEFT JOIN cus_materiel itemm ON itemm.id = item.`materiel_id`
                LEFT JOIN cus_dictionary dici ON dici.`id` = itemm.`unit_uom`
                LEFT JOIN cus_materiel headm ON headm.id = feed.`materiel_id`
                LEFT JOIN cus_dictionary dich ON dich.`id` = headm.`unit_uom`
                LEFT JOIN sys_dept dept ON dept.`dept_id` = feed.pro_dept

                <where>
                    <if test="sourceType != null and sourceType != ''"> and item.source_type = #{sourceType} </if>
                    <if test="sourceTypes != null and sourceTypes.size()>0"> and item.source_type IN
                        <foreach item="item" collection="sourceTypes" open="(" separator="," close=")" index="index">
                            <if test="item!=null">
                                #{item}
                            </if>
                        </foreach>
                    </if>
                     <if test="deptId != null and deptId != ''"> and feed.pro_dept = #{deptId} </if>
                    <if test="outboundType != null and outboundType != ''"> and sto.outbound_type = #{outboundType} </if>
                    <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(feed.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
                    <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(feed.create_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
                </where>
                GROUP BY item.`source_id`
            </select>

    <select id="stockInItem" resultType="com.ev.report.vo.StockInItemVO">
        SELECT
        item.`id`,
        item.`inhead_id`,
        stock.in_out_time AS inOutTime,
        stock.in_out_time AS inOutTimeParam,
        stock.inhead_code AS stockInCode,
        dict.name AS documentType,
        item.`materiel_id`,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dicu.`name` AS unitUomName,
        item.`count`,
        item.`unit_price`,
        item.`amount`,
        item.`batch`,
        item.`warehouse`,
        fa.`name` AS facilityName,
        item.`wareh_location`,
        lo.`name` AS locationName,
        u.`name` AS operatorName,
        item.`source_type`,
        dics.name AS sourceTypeName,
        item.`source_code`,
        item.`return_reason`,
        item.`source_id`,
        item.`expense`,
        item.`cost`,
        item.`create_by`,
        item.`create_time`,
        item.`update_by`,
        item.`update_time`,
        item.`del_flag`,
        item.`qrcode_id`,
        0 AS sign,
        0 AS sortNo,
        item.`account_source`
        FROM
        scm_stock_in_item item
        LEFT JOIN scm_stock_in stock ON stock.id=item.inhead_id
        LEFT JOIN cus_dictionary dics ON dics.id=item.source_type
        LEFT JOIN cus_dictionary dict ON dict.id=stock.storage_type
        LEFT JOIN cus_materiel materiel ON materiel.id=item.`materiel_id`
        LEFT JOIN cus_dictionary dicu ON dicu.`id`=materiel.unit_uom
        LEFT JOIN cus_facility fa ON fa.id=item.warehouse
        LEFT JOIN cus_facility_location lo ON lo.id=item.wareh_location
        LEFT JOIN sys_user u ON u.user_id=stock.operator

        <where>
            <if test="planIds != null and planIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceIds != null and sourceIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="status != null and status != ''"> and stock.audit_sign = #{status} </if>
            <if test="sourceType != null and sourceType != ''"> and item.source_type = #{sourceType} </if>
            <if test="planId != null and planId != ''"> and item.source_id = #{planId} </if>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="materielType != null and materielType != ''"> and materiel.`type` = #{materielType} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.in_out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
    </select>

    <select id="stockOutItem" resultType="com.ev.report.vo.StockOutItemVO">
        SELECT
        item.`id`,
        stock.out_time AS outTime,
        stock.out_time AS outTimeParam,
        stock.out_code AS stockOutCode,
        dict.name AS documentType,
        item.`materiel_id`,
        materiel.`serial_no` AS serialNo,
        materiel.`name` AS materielName,
        materiel.`specification` AS specification,
        dic.`name` AS unitUomName,
        item.`count`,
        item.`unit_price`,
        item.`amount`,
        item.`batch`,
        fa.`name` AS facilityName,
        lo.`name` AS locationName,
        u.`name` AS operatorName,
        dics.name AS sourceTypeName,
        item.`source_code`,
        0 AS sign,
        0 AS sortNo,
        item.`source_id`
        FROM
        scm_stock_out_item item
        LEFT JOIN scm_stock_out stock ON stock.id=item.out_id
        LEFT JOIN scm_stock st ON st.id=item.stock_id
        LEFT JOIN cus_facility fa ON fa.id=st.warehouse
        LEFT JOIN cus_facility_location lo ON lo.id=st.wareh_location
        LEFT JOIN cus_materiel materiel ON materiel.id=item.`materiel_id`
        LEFT JOIN cus_dictionary dic ON dic.`id`=materiel.unit_uom
        LEFT JOIN mes_production_feeding_detail detail ON detail.id=item.source_id
        LEFT JOIN mes_production_feeding feeding ON feeding.id=detail.head_id
        LEFT JOIN cus_dictionary dics ON dics.id=item.source_type
        LEFT JOIN cus_dictionary dict ON dict.id=stock.outbound_type
        LEFT JOIN sys_user u ON u.user_id=stock.operator

        <where>
            <if test="planIds != null and planIds.size()>0"> and feeding.production_plan_id IN
                <foreach item="item" collection="planIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceIds != null and sourceIds.size()>0"> and item.source_id IN
                <foreach item="item" collection="sourceIds" open="(" separator="," close=")" index="index">
                    <if test="item!=null">
                        #{item}
                    </if>
                </foreach>
            </if>
            <if test="sourceType != null and sourceType != ''"> and item.source_type = #{sourceType} </if>
            <if test="auditSign != null and auditSign != ''"> and stock.audit_sign = #{auditSign} </if>
            <if test="planId != null and planId != ''"> and feeding.production_plan_id = #{planId} </if>
            <if test="materielId != null and materielId != ''"> and item.materiel_id = #{materielId} </if>
            <if test="materielType != null and materielType != ''"> and materiel.`type` = #{materielType} </if>
            <if test="startTime != null and startTime != ''"> and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
            <if test="endTime != null and endTime != ''">  and  DATE_FORMAT(stock.out_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
        </where>
    </select>

</mapper>
