<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.system.dao.OpLogDao">

	<select id="get" resultType="com.ev.system.domain.OpLogDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM sys_op_log 
		WHERE op_module = #{value}
	</select>

	<select id="list" resultType="com.ev.system.domain.OpLogDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM sys_op_log
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY op_module DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM sys_op_log
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`op_module`,`op_type`,`op_desc`,`op_requ_param`,`op_resp_param`,`op_user_id`,`op_user_name`,`op_method`,`op_uri`,`op_machine`,`op_dns_ip`,`op_ip`,`op_ver`,`create_time`
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="opModule != null and opModule != ''"> AND op_module = #{opModule} </if>
                            <if test="opType != null and opType != ''"> AND op_type = #{opType} </if>
                            <if test="opDesc != null and opDesc != ''"> AND op_desc = #{opDesc} </if>
                            <if test="opRequParam != null and opRequParam != ''"> AND op_requ_param = #{opRequParam} </if>
                            <if test="opRespParam != null and opRespParam != ''"> AND op_resp_param = #{opRespParam} </if>
                            <if test="opUserId != null and opUserId != ''"> AND op_user_id = #{opUserId} </if>
                            <if test="opUserName != null and opUserName != ''"> AND op_user_name = #{opUserName} </if>
                            <if test="opMethod != null and opMethod != ''"> AND op_method = #{opMethod} </if>
                            <if test="opUri != null and opUri != ''"> AND op_uri = #{opUri} </if>
                            <if test="opMachine != null and opMachine != ''"> AND op_machine = #{opMachine} </if>
                            <if test="opDnsIp != null and opDnsIp != ''"> AND op_dns_ip = #{opDnsIp} </if>
                            <if test="opIp != null and opIp != ''"> AND op_ip = #{opIp} </if>
                            <if test="opVer != null and opVer != ''"> AND op_ver = #{opVer} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.system.domain.OpLogDO">
		INSERT INTO sys_op_log
		(
			`op_module`, 
			`op_type`, 
			`op_desc`, 
			`op_requ_param`, 
			`op_resp_param`, 
			`op_user_id`, 
			`op_user_name`, 
			`op_method`, 
			`op_uri`, 
			`op_machine`, 
			`op_dns_ip`, 
			`op_ip`, 
			`op_ver`, 
			`create_time`
		)
		VALUES
		(
			#{opModule}, 
			#{opType}, 
			#{opDesc}, 
			#{opRequParam}, 
			#{opRespParam}, 
			#{opUserId}, 
			#{opUserName}, 
			#{opMethod}, 
			#{opUri}, 
			#{opMachine}, 
			#{opDnsIp}, 
			#{opIp}, 
			#{opVer}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.system.domain.OpLogDO">
		UPDATE sys_op_log
		<set>
			<if test="opType != null">`op_type` = #{opType}, </if>
			<if test="opDesc != null">`op_desc` = #{opDesc}, </if>
			<if test="opRequParam != null">`op_requ_param` = #{opRequParam}, </if>
			<if test="opRespParam != null">`op_resp_param` = #{opRespParam}, </if>
			<if test="opUserId != null">`op_user_id` = #{opUserId}, </if>
			<if test="opUserName != null">`op_user_name` = #{opUserName}, </if>
			<if test="opMethod != null">`op_method` = #{opMethod}, </if>
			<if test="opUri != null">`op_uri` = #{opUri}, </if>
			<if test="opMachine != null">`op_machine` = #{opMachine}, </if>
			<if test="opDnsIp != null">`op_dns_ip` = #{opDnsIp}, </if>
			<if test="opIp != null">`op_ip` = #{opIp}, </if>
			<if test="opVer != null">`op_ver` = #{opVer}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		WHERE op_module = #{opModule}
	</update>

	<update id="updateAll" parameterType="com.ev.system.domain.OpLogDO">
		UPDATE sys_op_log SET
			`op_type` = #{opType}, 
			`op_desc` = #{opDesc}, 
			`op_requ_param` = #{opRequParam}, 
			`op_resp_param` = #{opRespParam}, 
			`op_user_id` = #{opUserId}, 
			`op_user_name` = #{opUserName}, 
			`op_method` = #{opMethod}, 
			`op_uri` = #{opUri}, 
			`op_machine` = #{opMachine}, 
			`op_dns_ip` = #{opDnsIp}, 
			`op_ip` = #{opIp}, 
			`op_ver` = #{opVer}, 
			`create_time` = #{createTime}
		WHERE op_module = #{opModule}
	</update>

	
	<delete id="remove">
		DELETE FROM sys_op_log WHERE op_module = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM sys_op_log WHERE op_module IN
		<foreach item="opModule" collection="array" open="(" separator="," close=")">
			#{opModule}
		</foreach>
	</delete>
	
</mapper>