<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.system.dao.RoleDataDao">

	<select id="get" resultType="com.ev.system.domain.RoleDataDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM sys_role_data 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.system.domain.RoleDataDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM sys_role_data
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_role_data
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`role_id`,`dept_id`
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="id != null and id != ''"> and id = #{id} </if>
                            <if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
                            <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.system.domain.RoleDataDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_role_data
		(
			`role_id`, 
			`dept_id`
		)
		values
		(
			#{roleId}, 
			#{deptId}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.system.domain.RoleDataDO">
		update sys_role_data 
		<set>
			<if test="roleId != null">`role_id` = #{roleId}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_role_data where id = #{value}
	</delete>

    <delete id="deleteByRoleId">
		delete from sys_role_data where role_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_role_data where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
</mapper>