<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.system.dao.UserDao">

	<select id="get" resultType="com.ev.system.domain.UserDO">
		select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district`,`groupstr` ,`isapp`,`isfirst` from sys_user where user_id = #{value}
	</select>

	<select id="list" resultType="com.ev.system.domain.UserDO">
		select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district`,`groupstr` ,`isapp`,`isfirst` from sys_user
        <where>  
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="query != null and query != ''"> and CONCAT(name,mobile) LIKE CONCAT('%',CONCAT(#{query},'%')) </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
		  		  <if test="status != null"> and status = #{status} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
				  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
				  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birth != null and birth != ''"> and birth = #{birth} </if>
		  		  <if test="picId != null and picId != ''"> and pic_id = #{picId} </if>
		  		  <if test="liveAddress != null and liveAddress != ''"> and live_address = #{liveAddress} </if>
		  		  <if test="hobby != null and hobby != ''"> and hobby = #{hobby} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="district != null and district != ''"> and district = #{district} </if>
			      <if test="groupstr != null and groupstr != ''"> and groupstr = #{groupstr} </if>

					<if test="userNames != null and userNames.size()>0"> and `name` IN
						<foreach item="item" collection="userNames" open="(" separator="," close=")" index="index">
							<if test="item!=null">
								#{item}
							</if>
						</foreach>
					</if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_user
		 <where>
			 <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			 <if test="username != null and username != ''"> and username = #{username} </if>
			 <if test="name != null and name != ''"> and name = #{name} </if>
			 <if test="query != null and query != ''"> and CONCAT(name,mobile) LIKE CONCAT('%',CONCAT(#{query},'%')) </if>
			 <if test="password != null and password != ''"> and password = #{password} </if>
			 <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			 <if test="email != null and email != ''"> and email = #{email} </if>
			 <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			 <if test="status != null and status != ''"> and status = #{status} </if>
			 <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			 <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			 <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			 <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			 <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			 <if test="sex != null and sex != ''"> and sex = #{sex} </if>
			 <if test="birth != null and birth != ''"> and birth = #{birth} </if>
			 <if test="picId != null and picId != ''"> and pic_id = #{picId} </if>
			 <if test="liveAddress != null and liveAddress != ''"> and live_address = #{liveAddress} </if>
			 <if test="hobby != null and hobby != ''"> and hobby = #{hobby} </if>
			 <if test="province != null and province != ''"> and province = #{province} </if>
			 <if test="city != null and city != ''"> and city = #{city} </if>
			 <if test="district != null and district != ''"> and district = #{district} </if>
			 <if test="groupstr != null and groupstr != ''"> and groupstr = #{groupstr} </if>
		 </where>
	</select>

	<select id="listForMap" resultType="map">
		SELECT
		sysuser.`user_id` AS userId,
		sysuser.`username` AS userName,
		sysuser.`name` AS NAME,
		sysuser.`password` AS PASSWORD,
		sysuser.`dept_id` AS deptId,
		sysuser.`email` AS email,
		sysuser.`mobile` AS mobile,
		sysuser.`status` AS STATUS,
		sysuser.`create_by`,
		sysuser.`create_time`,
		sysuser.`update_time`,
		sysuser.`update_by`,
		sysuser.`del_flag`,
		sysuser.`sex` AS sex,
		sysuser.`birth` AS birth,
		sysuser.`pic_id` AS picId,
		sysuser.`live_address` AS liveAddress,
		sysuser.`hobby` AS hobby,
		sysuser.`province` AS province,
		sysuser.`city` AS city,
		sysuser.`district` AS district,
		sysuser.`groupstr` AS groupStr,
		sysuser.`isapp` AS isApp,
		sysuser.`isfirst` AS isFirst,
		dept.`name` as deptName,

        IF(sysuser.status=1,'启用','禁用') AS statusName
		FROM
		sys_user sysuser
		LEFT JOIN sys_dept dept on dept.dept_id = sysuser.dept_id
		<where>
			<if test="userId != null and userId != ''"> and sysuser.user_id = #{userId} </if>
			<!-- <if test="username != null and username != ''"> and sysuser.username = #{username} </if> -->
			<if test="username != null and username != ''"> and sysuser.name LIKE CONCAT(#{username},'%')</if>
			<if test="query != null and query != ''"> and CONCAT(sysuser.name,sysuser.mobile) LIKE CONCAT('%',CONCAT(#{query},'%')) </if>
			<if test="password != null and password != ''"> and sysuser.password = #{password} </if>
			<if test="isContainChildren != null and isContainChildren == 0">
				<if test="deptId != null and deptId != ''"> and sysuser.dept_id = #{deptId} </if>
			</if>
			<if test="isContainChildren == null or isContainChildren == 1">
				<if test="deptId != null and deptId != ''"> and dept.id_path like CONCAT ('%/',#{deptId},'/%') </if>
			</if>
			<if test="email != null and email != ''"> and sysuser.email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and sysuser.mobile = #{mobile} </if>
			<if test="status != null"> and sysuser.status = #{status} </if>
			<if test="createBy != null and createBy != ''"> and sysuser.create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and sysuser.create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and sysuser.update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and sysuser.update_by = #{updateBy} </if>
			<if test="delFlag != null and delFlag != ''"> and sysuser.del_flag = #{delFlag} </if>
			<if test="sex != null and sex != ''"> and sysuser.sex = #{sex} </if>
			<if test="birth != null and birth != ''"> and sysuser.birth = #{birth} </if>
			<if test="picId != null and picId != ''"> and sysuser.pic_id = #{picId} </if>
			<if test="liveAddress != null and liveAddress != ''"> and sysuser.live_address = #{liveAddress} </if>
			<if test="hobby != null and hobby != ''"> and sysuser.hobby = #{hobby} </if>
			<if test="province != null and province != ''"> and sysuser.province = #{province} </if>
			<if test="city != null and city != ''"> and sysuser.city = #{city} </if>
			<if test="district != null and district != ''"> and sysuser.district = #{district} </if>
			<if test="groupstr != null and groupstr != ''"> and sysuser.groupstr = #{groupstr} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by user_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countForMap" resultType="int">
		SELECT
		count(*)
		FROM
		sys_user sysuser
		LEFT JOIN sys_dept dept on dept.dept_id = sysuser.dept_id
		<where>
			<if test="userId != null and userId != ''"> and sysuser.user_id = #{userId} </if>
			<!-- <if test="username != null and username != ''"> and sysuser.username = #{username} </if> -->
			<if test="username != null and username != ''"> and sysuser.name LIKE CONCAT(#{username},'%')</if>
			<if test="query != null and query != ''"> and CONCAT(sysuser.name,sysuser.mobile) LIKE CONCAT('%',CONCAT(#{query},'%')) </if>
			<if test="password != null and password != ''"> and sysuser.password = #{password} </if>
			<if test="isContainChildren != null and isContainChildren == 0">
				<if test="deptId != null and deptId != ''"> and sysuser.dept_id = #{deptId} </if>
			</if>
			<if test="isContainChildren == null or isContainChildren == 1">
				<if test="deptId != null and deptId != ''"> and dept.id_path like CONCAT ('%/',#{deptId},'/%') </if>
			</if>
			<if test="email != null and email != ''"> and sysuser.email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and sysuser.mobile = #{mobile} </if>
			<if test="status != null and status != ''"> and sysuser.status = #{status} </if>
			<if test="createBy != null and createBy != ''"> and sysuser.create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and sysuser.create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and sysuser.update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and sysuser.update_by = #{updateBy} </if>
			<if test="delFlag != null and delFlag != ''"> and sysuser.del_flag = #{delFlag} </if>
			<if test="sex != null and sex != ''"> and sysuser.sex = #{sex} </if>
			<if test="birth != null and birth != ''"> and sysuser.birth = #{birth} </if>
			<if test="picId != null and picId != ''"> and sysuser.pic_id = #{picId} </if>
			<if test="liveAddress != null and liveAddress != ''"> and sysuser.live_address = #{liveAddress} </if>
			<if test="hobby != null and hobby != ''"> and sysuser.hobby = #{hobby} </if>
			<if test="province != null and province != ''"> and sysuser.province = #{province} </if>
			<if test="city != null and city != ''"> and sysuser.city = #{city} </if>
			<if test="district != null and district != ''"> and sysuser.district = #{district} </if>
			<if test="groupstr != null and groupstr != ''"> and sysuser.groupstr = #{groupstr} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.ev.system.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
			`username`, 
			`name`, 
			`password`, 
			`dept_id`, 
			`email`, 
			`mobile`, 
			`status`, 
			`create_by`, 
			`create_time`, 
			`update_time`,
			`update_by`,
			`del_flag`,
			`sex`, 
			`birth`, 
			`pic_id`, 
			`live_address`, 
			`hobby`, 
			`province`, 
			`city`, 
			`district`,
			`groupstr`,
			`isapp`,
			`isfirst`
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password}, 
			#{deptId}, 
			#{email}, 
			#{mobile}, 
			#{status}, 
			#{createBy}, 
			#{createTime}, 
			#{updateTime},
			#{updateBy},
			#{delFlag},
			#{sex}, 
			#{birth}, 
			#{picId}, 
			#{liveAddress}, 
			#{hobby}, 
			#{province}, 
			#{city}, 
			#{district},
			#{groupstr},
			#{isapp},
			#{isfirst}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.system.domain.UserDO">
		update sys_user 
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="birth != null">`birth` = #{birth}, </if>
			<if test="picId != null">`pic_id` = #{picId}, </if>
			<if test="liveAddress != null">`live_address` = #{liveAddress}, </if>
			<if test="hobby != null">`hobby` = #{hobby}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="district != null">`district` = #{district},</if>
			<if test="groupstr != null">`groupstr` = #{groupstr},</if>
			<if test="isapp != null">`isapp` = #{isapp},</if>
			<if test="isfirst != null">`isfirst` = #{isfirst},</if>
		</set>
		where user_id = #{userId}
	</update>
	
	<delete id="remove">
		delete from sys_user where user_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_user where user_id in 
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>

	<select id="listAllDept" resultType="long">
				select DISTINCT dept_id from sys_user
	</select>
	<select id="findByUsername" resultType="com.ev.system.domain.UserDO">
		select * from sys_user where username=#{value} or mobile=#{value}
	</select>

	<select id="selectByIdSet" resultType="string">
		SELECT
		GROUP_CONCAT(username)
		FROM sys_user
		WHERE user_id IN
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
</mapper>