<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.mes.dao.BomDetailDao">

	<select id="get" resultType="com.ev.mes.domain.BomDetailDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM mes_bom_detail 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.mes.domain.BomDetailDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM mes_bom_detail
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="listForMap" resultType="map">
		<!-- SELECT
		 bom.`id` AS bomId,
		 bom.`serialno` AS bomSerialno,
		 bom.`name` AS bomName,
	     dict.`name` AS typeName,
	     dict.`id` AS typeId,
		 bom.`version` AS version,
		 bommaterial.serial_no AS bomMaterialserialNo,
		bommaterial.name AS bomMaterialname,
		bommaterial.specification AS bomMaterialSpecification, 
		bom.`count` AS bomCount,
		bom.`image_no` AS imageNo, -->
		 <!-- 上面主表/下面副表 -->
		SELECT
		bomdetail.`id` AS childId,
		bomdetail.`materiel_id` AS childMaterielId,
		material.serial_no AS childMaterialSerialNo,
		material.name AS childMaterialName,
		material.specification AS childMaterialSpecification,
		unituom.id AS childUnitUomId,
		unituom.name AS childUnitUomName,
		bomdetail.`standard_count` AS childStandardCount,
		bomdetail.`waste_rate` AS childWasteRate,
		facility.id AS  childDefaultFacilityId,
		location.id AS 	childDefaultLocationId,
		facility.name AS childDefaultFacilityName,
		location.name AS childDefaultLocationName,
		bomdetail.`remarks` AS childRemarks
		FROM mes_bom_detail bomdetail
		LEFT JOIN cus_materiel material ON material.`id`=bomdetail.`materiel_id`
		LEFT JOIN cus_dictionary unituom ON unituom.id = material.`unit_uom`
		<!-- LEFT JOIN mes_bom bom ON bom.`id`=bomdetail.`bom_id` -->
		<!-- LEFT JOIN cus_materiel bommaterial ON bommaterial.`id`=bom.`materiel_id`
		LEFT JOIN cus_dictionary dict ON dict.`id` = bom.`type` -->
		LEFT JOIN cus_facility facility ON facility.id = material.default_facility
		LEFT JOIN cus_facility_location location ON location.id = material.default_location
        <where>  
		  		  <if test="id != null and id != ''"> and bomdetail.id = #{id} </if>
		  		  <if test="bomId != null and bomId != ''"> and bomdetail.bom_id = #{bomId} </if>
		  		  <if test="materielId != null and materielId != ''"> and bomdetail.materiel_id = #{materielId} </if>
		  		  <if test="standardCount != null and standardCount != ''"> and bomdetail.standard_count = #{standardCount} </if>
		  		  <if test="wasteRate != null and wasteRate != ''"> and bomdetail.waste_rate = #{wasteRate} </if>
		  		  <if test="remarks != null and remarks != ''"> and bomdetail.remarks = #{remarks} </if>
		  		  <if test="createBy != null and createBy != ''"> and bomdetail.create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and bomdetail.create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and bomdetail.update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and bomdetail.update_time = #{updateTime} </if>
		  		  <if test="delFlag != null"> and bomdetail.del_flag = #{delFlag} </if>
		  		  <!-- 主表查询字段 -->
		  		 <!--   <if test="bomName != null and bomName != ''"> and bom.`name` LIKE CONCAT ('%',#{bomName},'%')  </if>
		  		  <if test="proName != null and proName != ''"> and bommaterial.`name` LIKE CONCAT ('%',#{proName},'%') </if>
		  		  <if test="imageNo != null and imageNo != ''"> and bom.`image_no` LIKE CONCAT ('%',#{imageNo},'%') </if>
		  		  <if test="auditSign != null and auditSign != ''"> and bom.`audit_sign` = #{auditSign} </if> -->
		  		  
		  		  <!-- <if test="proId != null and proId != ''"> and bom.`materiel_id` = #{proId} </if> -->
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by bomdetail.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="countForMap" resultType="int">
		SELECT
		COUNT(*)
		FROM mes_bom_detail bomdetail
		LEFT JOIN cus_materiel material ON material.`id`=bomdetail.`materiel_id`
		LEFT JOIN cus_dictionary unituom ON unituom.id = material.`unit_uom`
		<!-- LEFT JOIN mes_bom bom ON bom.`id`=bomdetail.`bom_id`
		LEFT JOIN cus_materiel bommaterial ON bommaterial.`id`=bom.`materiel_id`
		LEFT JOIN cus_dictionary dict ON dict.`id` = bom.`type` -->
		LEFT JOIN cus_facility facility ON facility.id = material.default_facility
		LEFT JOIN cus_facility_location location ON location.id = material.default_location
        <where>  
		  		  <if test="id != null and id != ''"> and bomdetail.id = #{id} </if>
		  		  <if test="bomId != null and bomId != ''"> and bomdetail.bom_id = #{bomId} </if>
		  		  <if test="materielId != null and materielId != ''"> and bomdetail.materiel_id = #{materielId} </if>
		  		  <if test="standardCount != null and standardCount != ''"> and bomdetail.standard_count = #{standardCount} </if>
		  		  <if test="wasteRate != null and wasteRate != ''"> and bomdetail.waste_rate = #{wasteRate} </if>
		  		  <if test="remarks != null and remarks != ''"> and bomdetail.remarks = #{remarks} </if>
		  		  <if test="createBy != null and createBy != ''"> and bomdetail.create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and bomdetail.create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and bomdetail.update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and bomdetail.update_time = #{updateTime} </if>
		  		  <if test="delFlag != null"> and bomdetail.del_flag = #{delFlag} </if>
		  		  <!-- 主表查询字段 -->
		  		 <!--  <if test="bomName != null and bomName != ''"> and bom.`name` LIKE CONCAT ('%',#{bomName},'%')  </if>
		  		  <if test="proName != null and proName != ''"> and bommaterial.`name` LIKE CONCAT ('%',#{proName},'%') </if>
		  		  <if test="imageNo != null and imageNo != ''"> and bom.`image_no` LIKE CONCAT ('%',#{imageNo},'%') </if>
		  		  <if test="auditSign != null and auditSign != ''"> and bom.`audit_sign` = #{auditSign} </if> -->
		  		
		  		</where>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from mes_bom_detail
		<include refid="sql_condition"/>
	</select>
	 
	<insert id="save" parameterType="com.ev.mes.domain.BomDetailDO" useGeneratedKeys="true" keyProperty="id">
		insert into mes_bom_detail
		(
			`materiel_id`, 
			`bom_id`, 
			`standard_count`, 
			`waste_rate`, 
			`remarks`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{materielId}, 
			#{bomId}, 
			#{standardCount}, 
			#{wasteRate}, 
			#{remarks}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.mes.domain.BomDetailDO">
		update mes_bom_detail 
		<set>
			<if test="materielId != null">`materiel_id` = #{materielId}, </if>
			<if test="bomId != null">`bom_id` = #{bomId}, </if>
			<if test="standardCount != null">`standard_count` = #{standardCount}, </if>
			<if test="wasteRate != null">`waste_rate` = #{wasteRate}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from mes_bom_detail where id = #{value}
	</delete>
	
	<delete id="removeByHeadId">
		UPDATE mes_bom_detail SET `del_flag`=1 WHERE `bom_id` = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from mes_bom_detail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<sql id="sql_column_list">
		`id`,`bom_id`,`materiel_id`,`standard_count`,`waste_rate`,`remarks`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`	
	</sql>
	
	<sql id="sql_condition">
		<where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		   <if test="bomId != null and bomId != ''"> and bom_id = #{bomId} </if>
		  		  <if test="materielId != null and materielId != ''"> and materiel_id = #{materielId} </if>
		  		  <if test="standardCount != null and standardCount != ''"> and standard_count = #{standardCount} </if>
		  		  <if test="wasteRate != null and wasteRate != ''"> and waste_rate = #{wasteRate} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</sql>
	
</mapper>