<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.mes.dao.CheckPlanDao">

	<select id="get" resultType="com.ev.mes.domain.CheckPlanDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM mes_check_plan 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.mes.domain.CheckPlanDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM mes_check_plan
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from mes_check_plan
		<include refid="sql_condition"/>
	</select>
	 
	<insert id="save" parameterType="com.ev.mes.domain.CheckPlanDO" useGeneratedKeys="true" keyProperty="id">
		insert into mes_check_plan
		(
			`code`, 
			`name`, 
			`audit_id`, 
			`audit_sign`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{code}, 
			#{name}, 
			#{auditId}, 
			#{auditSign}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.mes.domain.CheckPlanDO">
		update mes_check_plan 
		<set>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="auditId != null">`audit_id` = #{auditId}, </if>
			<if test="auditSign != null">`audit_sign` = #{auditSign}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from mes_check_plan where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from mes_check_plan where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<sql id="sql_column_list">
		`id`,`code`,`name`,`audit_id`,`audit_sign`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`	
	</sql>
	
	<sql id="sql_condition">
		<where>
			      <if test="maxNo != null and maxNo != ''"> and LEFT(code,12) = #{maxNo} </if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="auditId != null and auditId != ''"> and audit_id = #{auditId} </if>
		  		  <if test="auditSign != null and auditSign != ''"> and audit_sign = #{auditSign} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</sql>




	<select id="listForMap" resultType="map">
		SELECT
		a.id ,
		a.code,
		a.name,
		a.audit_id as auditId ,
		b.name as auditName,
		a.audit_sign  as auditSign,
		d.name as  auditSignName,
		a.create_by as createBy,
		c.name as createByName,
		a.create_time  as createTime
		FROM mes_check_plan a
		LEFT JOIN sys_user b on a.audit_id=b.user_id
		LEFT JOIN cus_dictionary d on a.audit_sign=d.id
		LEFT JOIN sys_user c on a.create_by=c.user_id
		<where>

				<if test="maxNo != null and maxNo != ''"> and LEFT(work_orderNo,12) = #{maxNo} </if>
				<if test="id != null and id != ''"> and a.id = #{id} </if>
				<if test="code != null and code != ''"> and a.code = #{code} </if>
				<if test="name != null and name != ''"> and a.name like  CONCAT('%',#{name},'%') </if>
				<if test="auditId != null and auditId != ''"> and a.audit_id = #{auditId} </if>
				<if test="auditSign != null and auditSign != ''"> and a.audit_sign = #{auditSign} </if>
				<if test="createBy != null and createBy != ''"> and a.create_by = #{createBy} </if>
				<if test="createTime != null and createTime != ''"> and a.create_time = #{createTime} </if>
				<if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy} </if>
				<if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime} </if>
				<if test="delFlag != null and delFlag != ''"> and a.del_flag = #{delFlag} </if>

			and  a.del_flag = 0
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countListForMap" resultType="int">
		select
		count(*)
		FROM mes_check_plan a
		LEFT JOIN cus_dictionary b on a.audit_id=b.id
		LEFT JOIN cus_dictionary d on a.audit_sign=d.id
		LEFT JOIN sys_user c on a.create_by=c.user_id
		<where>

			<if test="maxNo != null and maxNo != ''"> and LEFT(work_orderNo,12) = #{maxNo} </if>
			<if test="id != null and id != ''"> and a.id = #{id} </if>
			<if test="code != null and code != ''"> and a.code = #{code} </if>
			<if test="name != null and name != ''"> and a.name like  CONCAT('%',#{name},'%') </if>
			<if test="auditId != null and auditId != ''"> and a.audit_id = #{auditId} </if>
			<if test="auditSign != null and auditSign != ''"> and a.audit_sign = #{auditSign} </if>
			<if test="createBy != null and createBy != ''"> and a.create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and a.create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and a.del_flag = #{delFlag} </if>
			and  a.del_flag = 0
		</where>
	</select>

	<update id="deletOfPlan" parameterType="map">
		update
		mes_check_plan
		set
		`del_flag` = 1
		where id in
		<foreach item="id" collection="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>


	<select id="canDelet" resultType="int">
		select
	      COUNT(id)
	    from
		mes_check_plan
		where
		audit_sign=178
		and `del_flag` =0
		AND id in
		<foreach item="id" collection="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>



</mapper>