<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.mes.dao.StationDao">

	<select id="get" resultType="com.ev.mes.domain.StationDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM mes_station 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.mes.domain.StationDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM mes_station
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM mes_station
		<include refid="sql_condition"/>
	</select>

	<select id="listForMap" resultType="map">
		SELECT
		`id`,
		`code`,
		`name`,
		`remark`,
		`create_by` AS createBy,
		`create_time` AS createTime,
		`update_by` AS updateBy,
		`update_time` AS updateTime,
		`del_flag` AS delFlag,
		audit_sign AS auditSign
		FROM mes_station
		<include refid="sql_condition"/>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="checkSave" resultType="int" parameterType="com.ev.mes.domain.StationDO">
		SELECT COUNT(*) FROM mes_station
		<where>
			<if test="id != null and id != ''"> AND id <![CDATA[<>]]> #{id} </if>
			<if test="name != null and name != ''"> AND name = #{name} </if>
		</where>

	</select>

	<sql id="sql_column_list">
		`id`,`code`,`name`,`remark`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`,audit_sign
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="id != null and id != ''"> AND id = #{id} </if>
                            <if test="code != null and code != ''"> AND code = #{code} </if>
                            <if test="name != null and name != ''"> AND name = #{name} </if>
						<if test="nameSearch != null and nameSearch != ''"> AND name LIKE #{nameSearch} </if>
                            <if test="remark != null and remark != ''"> AND remark = #{remark} </if>
							<if test="auditSign != null and auditSign != ''"> AND audit_sign = #{auditSign} </if>
                            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> AND del_flag = #{delFlag} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.mes.domain.StationDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO mes_station
		(
			`code`,
			`name`, 
			`remark`,
			`audit_sign`,
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		VALUES
		(
			#{code},
			#{name}, 
			#{remark},
			#{auditSign},
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.mes.domain.StationDO">
		UPDATE mes_station
		<set>
			<if test="code != null">`code` = #{code}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="auditSign != null">`audit_sign` = #{auditSign}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="updateAll" parameterType="com.ev.mes.domain.StationDO">
		UPDATE mes_station SET
			`code` = #{code}, 
			`name` = #{name}, 
			`remark` = #{remark}, 
			`audit_sign` = #{auditSign},
			`create_by` = #{createBy},
			`create_time` = #{createTime},
			`update_by` = #{updateBy}, 
			`update_time` = #{updateTime}, 
			`del_flag` = #{delFlag}
		WHERE id = #{id}
	</update>

	
	<delete id="remove">
		DELETE FROM mes_station WHERE id = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM mes_station WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
</mapper>