<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.CommentDao">

	<select id="get" resultType="com.ev.custom.domain.CommentDO">
		select `id`,`assoc_id`,`assoc_type`,`comment`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_comment where id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.CommentDO">
		select `id`,`assoc_id`,`assoc_type`,`comment`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_comment
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="assocId != null and assocId != ''"> and assoc_id = #{assocId} </if>
			<if test="assocType != null and assocType != ''"> and assoc_type = #{assocType} </if>
			<if test="comment != null and comment != ''"> and comment = #{comment} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from cus_comment
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="assocId != null and assocId != ''"> and assoc_id = #{assocId} </if>
			<if test="assocType != null and assocType != ''"> and assoc_type = #{assocType} </if>
			<if test="comment != null and comment != ''"> and comment = #{comment} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.ev.custom.domain.CommentDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_comment
		(
		`assoc_id`,
		`assoc_type`,
		`comment`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
		)
		values
		(
		#{assocId},
		#{assocType},
		#{comment},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.ev.custom.domain.CommentDO">
		update cus_comment
		<set>
			<if test="assocId != null">`assoc_id` = #{assocId}, </if>
			<if test="assocType != null">`assoc_type` = #{assocType}, </if>
			<if test="comment != null">`comment` = #{comment}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from cus_comment where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from cus_comment where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="listOfDetail" resultType="map">
		select
		a.`id` as id ,
		a.`assoc_id` as assocId,
		a.`assoc_type` as assocType,
		a.`comment`as comment,
		a.`create_by`as createBy,
		a.`create_time`as createTime,
		a.`update_by`as updateBy,
		a.`update_time`as updateTime,
		a.`del_flag`as delFlag,
		b.`name` as `createByName`
		from cus_comment   a
		left JOIN sys_user b ON  a.create_by=b.user_id
		<where>
			<if test="id != null and id != ''"> and a.id = #{id} </if>
			<if test="assocId != null and assocId != ''"> and a.assoc_id = #{assocId} </if>
			<if test="assocType != null and assocType != ''"> and a.assoc_type = #{assocType} </if>
			<if test="comment != null and comment != ''"> and a.comment = #{comment} </if>
			<if test="createBy != null and createBy != ''"> and a.create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and a.create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and a.del_flag = #{delFlag} </if>
		</where>
	</select>





</mapper>