<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.ContentAssocDao">

	<select id="get" resultType="com.ev.custom.domain.ContentAssocDO">
		select `id`,`assoc_id`,`assoc_type`,`file_name`,`file_path`,`provider_id`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_content_assoc where id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.ContentAssocDO">
		select `id`,`assoc_id`,`assoc_type`,`file_name`,`file_path`,`provider_id`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_content_assoc
        <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="assocId != null and assocId != ''"> and assoc_id = #{assocId} </if>
		  <if test="assocType != null and assocType != ''"> and assoc_type = #{assocType} </if>
		  <if test="filePath != null and filePath != ''"> and file_path = #{filePath} </if>
		  <if test="providerId != null and providerId != ''"> and provider_id = #{providerId} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="assocIds != null and assocIds.size()>0"> and assoc_id IN
				<foreach item="item" collection="assocIds" open="(" separator="," close=")" index="index">
					<if test="item!=null">
						#{item}
					</if>
				</foreach>
			</if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cus_content_assoc
		 <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="assocId != null and assocId != ''"> and assoc_id = #{assocId} </if>
		  <if test="assocType != null and assocType != ''"> and assoc_type = #{assocType} </if>
		  <if test="filePath != null and filePath != ''"> and file_path = #{filePath} </if>
		  <if test="providerId != null and providerId != ''"> and provider_id = #{providerId} </if>
			 <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			 <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			 <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			 <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			 <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.ev.custom.domain.ContentAssocDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_content_assoc
		(
			`assoc_id`,
			`assoc_type`,
			`file_name`,
			`file_path`,
			`provider_id`,
			`create_by`,
			`create_time`,
			`update_by`,
			`update_time`,
			`del_flag`

		)
		values
		(
			#{assocId},
			#{assocType},
			#{fileName},
			#{filePath},
			#{providerId},
			#{createBy},
			#{createTime},
			#{updateBy},
			#{updateTime},
			#{delFlag}

		)
	</insert>
	 
	<update id="update" parameterType="com.ev.custom.domain.ContentAssocDO">
		update cus_content_assoc 
		<set>
			<if test="assocId != null">`assoc_id` = #{assocId}, </if>
			<if test="assocType != null">`assoc_type` = #{assocType}, </if>
			<if test="fileName != null">`file_name` = #{fileName}, </if>
			<if test="filePath != null">`file_path` = #{filePath}, </if>
			<if test="providerId != null">`provider_id` = #{providerId}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from cus_content_assoc where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cus_content_assoc where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<delete id="removeByAssocIdAndType">
		delete from cus_content_assoc
		<where>
			<if test="assocId!= null "> and `assoc_id` in
				<foreach item="item" collection="assocId" open="(" separator="," close=")"  index="index">
					<if test="item!=null">
						#{item}
					</if>
				</foreach>
			</if>
			<if test="assocType != null "> and `assoc_type` = #{assocType}</if>
				<!--<foreach item="assocType" collection="assocType" open="(" separator="," close=")"  index="index">-->
					<!--<if test="assocType!=null">-->
					<!--#{assocType}-->
				<!--</if>-->
			<!--</foreach>-->

		</where>
	</delete>
	
	<delete id="removeByAssocIdsAndTypes">
		delete from cus_content_assoc
		<where>
			<if test="assocId!= null "> and `assoc_id` in
				<foreach item="item" collection="assocId" open="(" separator="," close=")"  index="index">
					<if test="item!=null">
						#{item}
					</if>
				</foreach>
			</if>
			<if test="assocType != null "> and `assoc_type` in 
				<foreach item="item" collection="assocType" open="(" separator="," close=")"  index="index">
					<if test="item!=null">
						#{item}
					</if>
				</foreach>
			</if>
		</where>
	</delete>


</mapper>