<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.MaterielTypeDao">

	<select id="get" resultType="com.ev.custom.domain.MaterielTypeDO">
		select `id`,`code`,`name`,`parent_id`,`is_system`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_materiel_type where id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.MaterielTypeDO">
		select 
		`id`,
		`code`,
		`name`,
		`parent_id`,
		`is_system`
		from cus_materiel_type
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="nameSearch != null and nameSearch != ''"> and `name` LIKE #{nameSearch}</if>
			      <if test="name != null and name != ''"> and `name` = #{name} </if>
			      <if test="code != null and code != ''"> and `code` = #{code} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cus_materiel_type
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
			      <if test="nameSearch != null and nameSearch != ''"> and `name` LIKE #{nameSearch}</if>
			      <if test="name != null and name != ''"> and `name` = #{name} </if>
			      <if test="code != null and code != ''"> and `code` = #{code} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ev.custom.domain.MaterielTypeDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_materiel_type
		(
			`name`,
			`code`,
			`parent_id`,
			`is_system`,
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{name},
			#{code},
			#{parentId},
			#{isSystem},
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.custom.domain.MaterielTypeDO">
		update cus_materiel_type 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="isSystem != null">`is_system` = #{isSystem}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from cus_materiel_type where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cus_materiel_type where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="checkSave" resultType="int" parameterType="com.ev.custom.domain.MaterielTypeDO">
		select count(*)
		FROM
		cus_materiel_type
		<where>
			<if test="id != null and id != ''"> AND `id` <![CDATA[<>]]> #{id} AND</if>
			(
			`name` = #{name}
			OR `code` = #{code}
			)
		 </where>
	</select>
	
	<select id="checkDelete" resultType="int">
		select count(*)
		FROM
		cus_materiel_type mtype
		INNER JOIN cus_materiel m ON m.`type`=mtype.`id`
		WHERE mtype.`id` IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
		AND m.del_flag <![CDATA[ <>1]]>
    </select>

    <select id="listForMap" resultType="map">
        select
        `id`,
        `name`,
        `parent_id` AS parentId,
		`is_system` AS isSystem
        from cus_materiel_type
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="nameSearch != null and nameSearch != ''"> and `name` LIKE #{nameSearch}</if>
			<if test="name != null and name != ''"> and `name` = #{name} </if>
			<if test="code != null and code != ''"> and `code` = #{code} </if>
            <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

</mapper>