<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.MonthReportDao">


	<select id="get" resultType="com.ev.custom.domain.MonthReportDO">
		SELECT
		<include refid="sql_column_list"/>
		FROM cus_month_report
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.MonthReportDO">
		SELECT
		<include refid="sql_column_list"/>
		FROM cus_month_report
		<include refid="sql_condition"/>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from cus_month_report
		<include refid="sql_condition"/>
	</select>

	<insert id="save" parameterType="com.ev.custom.domain.MonthReportDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_month_report
		(
		`com_content`,
		`uncom_content`,
		`need_concert_content`,
		`wait_contet`,
		`must_contet`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`,
		`status`
		)
		values
		(
		#{comContent},
		#{uncomContent},
		#{needConcertContent},
		#{waitContet},
		#{mustContet},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{delFlag},
		#{status}
		)
	</insert>

	<update id="update" parameterType="com.ev.custom.domain.MonthReportDO">
		update cus_month_report
		<set>
			<if test="comContent != null">`com_content` = #{comContent}, </if>
			<if test="uncomContent != null">`uncom_content` = #{uncomContent}, </if>
			<if test="needConcertContent != null">`need_concert_content` = #{needConcertContent}, </if>
			<if test="waitContet != null">`wait_contet` = #{waitContet}, </if>
			<if test="mustContet != null">`must_contet` = #{mustContet}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from cus_month_report where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from cus_month_report where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<sql id="sql_column_list">
		`id`,`com_content`,`uncom_content`,`need_concert_content`,`wait_contet`,`must_contet`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`,`status`
	</sql>

	<sql id="sql_condition">
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="comContent != null and comContent != ''"> and com_content = #{comContent} </if>
			<if test="uncomContent != null and uncomContent != ''"> and uncom_content = #{uncomContent} </if>
			<if test="needConcertContent != null and needConcertContent != ''"> and need_concert_content = #{needConcertContent} </if>
			<if test="waitContet != null and waitContet != ''"> and wait_contet = #{waitContet} </if>
			<if test="mustContet != null and mustContet != ''"> and must_contet = #{mustContet} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
		</where>
	</sql>


	<!-- 发给我的 未读取的数量-->
	<select id="countOfQuantyForward" resultType="int">
		select
		COUNT(aa.assoc_id)
		from
		(select concat(',',group_concat(`a`.`user_id` separator ','),',') AS user_id ,  a.`assoc_id`, a.sign from  cus_user_assoc a
		where  assoc_type='MONTH_REPORT_TARGET'  GROUP BY  a.`assoc_id`,sign
		)  aa
		where
		aa.user_id like CONCAT('%',CONCAT(',',#{beSentPeopleId},','),'%') <!--CONCAT('%',#{beSentPeopleId},'%')-->
		and
		aa.assoc_id in (select id from cus_month_report where status!=146)
		and
		aa.sign is null
	</select>


	<select id="listForMap" resultType="map">
		SELECT
		<if test="beSentPeopleId != null and beSentPeopleId!= ''">
			case when uassoc.sign=1 then 3
			when uassoc.sign is null then 1
			end sign,
			case when uassoc.sign=1 then '已读'
			when uassoc.sign is null then '未读'
			end readStatus,
			uassoc.user_id as userId,
		</if>
		month.id as id,
		month.com_content as comContent,
		month.uncom_content as uncomContent,
		month.need_concert_content as needConcertContent,
		month.wait_contet as waitContet,
		month.must_contet as mustContet,
		month.create_by as createBy,
		month.create_time as createTime,
		month.update_by as updateBy,
		month.update_time as updateTime,
		month.del_flag as delFlag,
		dept.dept_id as deptId,
		dept.id_path as idPath,
		dept.name as deptName,
		month.status,
		b.name as statusName,
		employee.name as userName
		FROM
		cus_month_report month
		LEFT JOIN sys_user employee ON employee.user_id = month.create_by
		LEFT JOIN cus_dictionary b ON b.id = month.status
		LEFT JOIN sys_dept dept ON dept.dept_id = employee.dept_id
		<if test="beSentPeopleId != null and beSentPeopleId!= ''">LEFT JOIN cus_user_assoc uassoc on uassoc.assoc_id = month.id and uassoc.assoc_type = 'MONTH_REPORT_TARGET' </if>
		LEFT JOIN view_month_approve_mens a ON month.id = a.assoc_id
		<where>
			<if test="beSentPeopleId != null and beSentPeopleId!= ''"> and uassoc.user_id  =#{beSentPeopleId} </if>
			<if test="sign ==1"> and a.sign is null </if>
			<if test="id != null and id != ''"> and month.id = #{id} </if>
			<if test="comContent != null and comContent != ''"> and month.com_content = #{comContent} </if>
			<if test="uncomContent != null and uncomContent != ''"> and month.uncom_content = #{uncomContent} </if>
			<if test="needConcertContent != null and needConcertContent != ''"> and month.need_concert_content = #{needConcertContent} </if>
			<if test="waitContet != null and waitContet != ''"> and month.wait_contet = #{waitContet} </if>
			<if test="mustContet != null and mustContet != ''"> and month.must_contet = #{mustContet} </if>
			<if test="updateBy != null and updateBy != ''"> and month.update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and month.update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and month.del_flag = #{delFlag} </if>
			<if test="deptName != null and deptName != ''"> and dept.name = #{deptName} </if>
			<if test="deptId != null and deptId != ''"> and dept.dept_id = #{deptId} </if>
			<if test="idPath != null and idPath != ''"> and dept.id_path like CONCAT (#{idPath},'%') </if>
			<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(month.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
			<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(month.create_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
			<if test="userName != null and userName != ''"> AND employee.name  like CONCAT ('%',#{userName},'%') </if>
			<if test="status != null and status != ''"> and month.status = #{status} </if>
			<if test="createTime != null and createTime != ''"> and month.create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and month.create_by = #{createBy} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by  month.status ASC ,month.create_time DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countForMap" resultType="int">
		SELECT
		count(1)
		FROM
		cus_month_report month
		LEFT JOIN sys_user employee ON employee.user_id = month.create_by
		LEFT JOIN cus_dictionary b ON b.id = month.status
		LEFT JOIN sys_dept dept ON dept.dept_id = employee.dept_id
		<if test="beSentPeopleId != null and beSentPeopleId!= ''">LEFT JOIN cus_user_assoc uassoc on uassoc.assoc_id = month.id and uassoc.assoc_type = 'MONTH_REPORT_TARGET' </if>
		LEFT JOIN view_month_approve_mens a ON month.id = a.assoc_id
		<where>
			<if test="beSentPeopleId != null and beSentPeopleId!= ''"> and uassoc.user_id  =#{beSentPeopleId} </if>
			<if test="sign ==1"> and a.sign is null </if>
			<if test="id != null and id != ''"> and month.id = #{id} </if>
			<if test="comContent != null and comContent != ''"> and month.com_content = #{comContent} </if>
			<if test="uncomContent != null and uncomContent != ''"> and month.uncom_content = #{uncomContent} </if>
			<if test="needConcertContent != null and needConcertContent != ''"> and month.need_concert_content = #{needConcertContent} </if>
			<if test="waitContet != null and waitContet != ''"> and month.wait_contet = #{waitContet} </if>
			<if test="mustContet != null and mustContet != ''"> and month.must_contet = #{mustContet} </if>
			<if test="updateBy != null and updateBy != ''"> and month.update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and month.update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and month.del_flag = #{delFlag} </if>
			<if test="deptName != null and deptName != ''"> and dept.name = #{deptName} </if>
			<if test="deptId != null and deptId != ''"> and dept.dept_id = #{deptId} </if>
			<if test="idPath != null and idPath != ''"> and dept.id_path like CONCAT (#{idPath},'%') </if>
			<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(month.create_time,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
			<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(month.create_time,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
			<if test="userName != null and userName != ''"> AND employee.name  like CONCAT ('%',#{userName},'%') </if>
			<if test="status != null and status != ''"> and month.status = #{status} </if>
			<if test="createTime != null and createTime != ''"> and month.create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and month.create_by = #{createBy} </if>
		</where>
	</select>


	<select id="listOfCanDelet" resultType="map">
		select
		`id`,
		`status`
		from cus_month_report
		<where>

			<if test="id!= null"> and id in
				<foreach item="item" collection="id" open="(" separator="," close=")"  index="index">
					#{item}
				</foreach>
			</if>
			<if test="status!= null"> and status =#{status}</if>
		</where>
	</select>

	<select id="getOneMonthDetail" resultType="map">
		SELECT
		a.*,
		b.name as statusName,
		c.name as createByName,
		c.dept_id as createDeptId,
		d.name as createDeptName
		from
		cus_month_report  a
		LEFT JOIN  cus_dictionary b on  a.status=b.id
		LEFT JOIN  sys_user c on  a.create_by=c.user_id
		LEFT JOIN  sys_dept d on c.dept_id=d.dept_id
		WHERE
		a.id= #{id}
	</select>

	<select id="monthOfHaveOrNot" resultType="int">
		select
			count(a.id)
		from
		(
			select
			id,
			create_by as createBy,
			date_format(create_time,'%Y-%m') as createTime,
			date_format(now(),'%Y-%m') as nowTime
			from
			cus_month_report
		)a
		where
			a.createTime =a.nowTime
		and
			a.createBy=#{value}
	</select>

</mapper>