<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.PatrolCheckDao">

	<select id="get" resultType="com.ev.custom.domain.PatrolCheckDO">
		select `id`,`user_id`,`result`,`content`,`check_time`,`record_id`,`xl_grade`,`qa_grade`,`td_grade`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_patrol_check where id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.PatrolCheckDO">
		select `id`,`user_id`,`result`,`content`,`check_time`,`record_id`,`xl_grade`,`qa_grade`,`td_grade`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_patrol_check
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="result != null and result != ''"> and result = #{result} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="checkTime != null and checkTime != ''"> and check_time = #{checkTime} </if>
		  		  <if test="recordId != null and recordId != ''"> and record_id = #{recordId} </if>
		  		  <if test="xlGrade != null and xlGrade != ''"> and xl_grade = #{xlGrade} </if>
		  		  <if test="qaGrade != null and qaGrade != ''"> and qa_grade = #{qaGrade} </if>
		  		  <if test="tdGrade != null and tdGrade != ''"> and td_grade = #{tdGrade} </if>
				  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
				  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
				  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
				  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
				  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>		  		  
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cus_patrol_check
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="result != null and result != ''"> and result = #{result} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="checkTime != null and checkTime != ''"> and check_time = #{checkTime} </if>
		  		  <if test="recordId != null and recordId != ''"> and record_id = #{recordId} </if>
		  		  <if test="xlGrade != null and xlGrade != ''"> and xl_grade = #{xlGrade} </if>
		  		  <if test="qaGrade != null and qaGrade != ''"> and qa_grade = #{qaGrade} </if>
		  		  <if test="tdGrade != null and tdGrade != ''"> and td_grade = #{tdGrade} </if>
				  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
				  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
				  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
				  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
				  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>		  		  
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ev.custom.domain.PatrolCheckDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_patrol_check
		(
			`user_id`, 
			`result`, 
			`content`, 
			`check_time`, 
			`record_id`, 
			`xl_grade`, 
			`qa_grade`, 
			`td_grade`, 

			`create_by`, 

			`create_time`, 

			`update_by`, 

			`update_time`, 

			`del_flag`
		)
		values
		(
			#{userId}, 
			#{result}, 
			#{content}, 
			#{checkTime}, 
			#{recordId}, 
			#{xlGrade}, 
			#{qaGrade}, 
			#{tdGrade}, 

			#{createBy}, 

			#{createTime}, 

			#{updateBy}, 

			#{updateTime}, 

			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.custom.domain.PatrolCheckDO">
		update cus_patrol_check 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="result != null">`result` = #{result}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="checkTime != null">`check_time` = #{checkTime}, </if>
			<if test="recordId != null">`record_id` = #{recordId}, </if>
			<if test="xlGrade != null">`xl_grade` = #{xlGrade}, </if>
			<if test="qaGrade != null">`qa_grade` = #{qaGrade}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="tdGrade != null">`td_grade` = #{tdGrade}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from cus_patrol_check where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cus_patrol_check where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>