<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.custom.dao.UpkeepProjectDao">

	<select id="get" resultType="com.ev.custom.domain.UpkeepProjectDO">
		select `id`,`code`,`type`,`name`,`function`,`device_tepy`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_upkeep_project where id = #{value}
	</select>

	<select id="list" resultType="com.ev.custom.domain.UpkeepProjectDO">
		select `id`,`code`,`type`,`name`,`function`,`device_tepy`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag` from cus_upkeep_project
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="function != null and function != ''"> and function = #{function} </if>
			<if test="deviceTepy != null and deviceTepy != ''"> and device_tepy = #{deviceTepy} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from cus_upkeep_project
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="function != null and function != ''"> and function = #{function} </if>
			<if test="deviceTepy != null and deviceTepy != ''"> and device_tepy = #{deviceTepy} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.ev.custom.domain.UpkeepProjectDO" useGeneratedKeys="true" keyProperty="id">
		insert into cus_upkeep_project
		(
		`code`,
		`type`,
		`name`,
		`function`,
		`device_tepy`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
		)
		values
		(
		#{code},
		#{type},
		#{name},
		#{function},
		#{deviceTepy},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.ev.custom.domain.UpkeepProjectDO">
		update cus_upkeep_project
		<set>
			<if test="code != null">`code` = #{code}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="function != null">`function` = #{function}, </if>
			<if test="deviceTepy != null">`device_tepy` = #{deviceTepy}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from cus_upkeep_project where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from cus_upkeep_project where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>





	<select id="objectList" resultType="com.ev.custom.domain.UpkeepProjectDO">
		select distinct `id`,`name`,`function` from cus_upkeep_project
	</select>



	<select id="findListsPro" resultType="map">
		select
		cap.id,
		cap.code,
		cap.type,
		cap.name,
		cap.function,
		cap.device_tepy,
		cd.name as device_typename
		from cus_upkeep_project  cap
		LEFT  JOIN  cus_dictionary cd ON cap.device_tepy=cd.id
		<where>
			<if test="id != null and id != ''"> and cap.id = #{id} </if>
			<if test="code != null and code != ''"> and cap.code = #{code} </if>
			<if test="type != null and type != ''"> and cap.type = #{type} </if>

			<if test="name != null and name != ''"> and  cap.name like  CONCAT('%',#{name},'%') </if>
			<if test="functions != null and functions != ''"> OR cap.function like  CONCAT('%',#{functions},'%') </if>
			<if test="deviceTepy != null and deviceTepy != ''"> and cap.device_tepy = #{deviceTepy} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countOfList" resultType="int">
		select count(*)
		from
		cus_upkeep_project  cap
		LEFT  JOIN  cus_dictionary cd ON cap.device_tepy=cd.id
		<where>
			<if test="haveId != null and haveId != ''"> and cap.id &lt;&gt; #{haveId} </if>
			<if test="id != null and id != ''"> and cap.id = #{id} </if>
			<if test="code != null and code != ''"> and cap.code = #{code} </if>
			<if test="type != null and type != ''"> and cap.type = #{type} </if>
			<if test="name != null and name != ''"> and cap.name like  CONCAT('%',#{name},'%') </if>
			<if test="functions != null and function != ''"> and cap.function like  CONCAT('%',#{functions},'%') </if>
			<if test="deviceTepy != null and deviceTepy != ''"> and cap.device_tepy = #{deviceTepy} </if>
		</where>
	</select>

	<select id="countOfCode" resultType="int">
		select
		count(*)
		from
		cus_upkeep_project
		<where>
			<if test="haveId != null and haveId != ''"> and id &lt;&gt; #{haveId} </if>
			<if test="code != null and code != ''"> and code = #{code} </if>
		</where>
	</select>


</mapper>