<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.BankTransferDao">

	<select id="get" resultType="com.ev.scm.domain.BankTransferDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_bank_transfer 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.BankTransferDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_bank_transfer
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM scm_bank_transfer
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`transfer_code`,`transfer_date`,transactor_id,`audit_sign`,`auditor`,`audit_time`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

    <sql id="sql_condition">
        <where>
							<if test="maxNo != null and maxNo != ''"> and LEFT(transfer_code,12) = #{maxNo} </if>
							<if test="id != null and id != ''"> AND id = #{id} </if>
							<if test="transferCode != null and transferCode != ''"> AND transfer_code = #{transferCode} </if>
							<if test="transferDate != null and transferDate != ''"> AND transfer_date = #{transferDate} </if>
                            <if test="transactorId != null and transactorId != ''"> AND transactor_id = #{transactorId} </if>
                            <if test="auditSign != null and auditSign != ''"> AND audit_sign = #{auditSign} </if>
                            <if test="auditor != null and auditor != ''"> AND auditor = #{auditor} </if>
                            <if test="auditTime != null and auditTime != ''"> AND audit_time = #{auditTime} </if>
                            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> AND del_flag = #{delFlag} </if>
       </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.BankTransferDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO scm_bank_transfer
		(
			`transfer_date`,
			`transfer_code`,
			`transactor_id`,
			`audit_sign`, 
			`auditor`, 
			`audit_time`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		VALUES
		(
			#{transferDate},
			#{transferCode},
			#{transactorId},
			#{auditSign}, 
			#{auditor}, 
			#{auditTime}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.BankTransferDO">
		UPDATE scm_bank_transfer
		<set>
			<if test="transferDate != null">`transfer_date` = #{transferDate}, </if>
			<if test="transferCode != null">`transfer_code` = #{transferCode}, </if>
			<if test="transactorId != null">`transactor_id` = #{transactorId}, </if>
			<if test="auditSign != null">`audit_sign` = #{auditSign}, </if>
			<if test="auditor != null">`auditor` = #{auditor}, </if>
			<if test="auditTime != null">`audit_time` = #{auditTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="remove">
		DELETE FROM scm_bank_transfer WHERE id = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM scm_bank_transfer WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="canDeletOfCount" resultType="int">
		select
		count(id)
		from
		scm_bank_transfer
		where
		audit_sign =178
		and  id in
		<foreach item="item" collection="id" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="detailOfTransfer" resultType="map">
		select
		a.id as id ,
		a.transfer_code as transferCode,
		a.transfer_date as transferDate,
		a.transactor_id as transactorId,
		b.name as transactorName,
		a.audit_sign AS auditSign,
		c.name as auditSignName,
		a.auditor as auditor,
		d.name as auditorName,
		a.audit_time as auditTime,
		a.create_by as createBy,
		e.name as createByName,
		a.create_time as createTime
		from
		scm_bank_transfer  a
		LEFT JOIN sys_user b on  a.transactor_id=b.user_id
		LEFT JOIN cus_dictionary c on  a.audit_sign=c.id
		LEFT JOIN sys_user d on  a.auditor=d.user_id
		LEFT JOIN sys_user  e on a.create_by=e.user_id
		where
		a.id=#{id}
	</select>

	<select id="listForMap" resultType="map">
		select
		a.id as id ,
		a.transfer_code as transferCode,
		a.transfer_date as transferDate,
		a.`transactor_id` as transactorId,
		b.name as transactorName,
		a.audit_sign AS auditSign,
		c.name as auditSignName,
		d.id as itemId ,
		d.transfer_out_acc as transferOutAcc,
		e.account_number as transferOutAccName,
		d.transfer_in_acc as transferInAcc,
		f.account_number as transferInAccName,
		d.transfer_amount as transferAmount,
		d.settlement_type  as settlementType,
		g.name as settlementTypeName,
		d.statement_number as statementNumber,
		d.remarks
		from
		scm_bank_transfer  a
		LEFT JOIN sys_user b on  a.`transactor_id`=b.user_id
		LEFT JOIN cus_dictionary c on  a.audit_sign=c.id
		LEFT JOIN scm_bank_transfer_item d on a.id =d.transfer_id
		LEFT JOIN scm_fund_initialization e on  d.transfer_out_acc=e.id
		LEFT JOIN scm_fund_initialization f on  d.transfer_in_acc=f.id
		LEFT JOIN cus_dictionary g on  d.settlement_type=g.id
		<where>
			<if test="id != null and id != ''"> AND id = #{id} </if>
			<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(a.transfer_date,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
			<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(a.transfer_date,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
			<if test="transferCode != null and transferCode != ''"> AND a.transfer_code = #{transferCode} </if>
			<if test="auditSign != null and auditSign != ''"> AND a.audit_sign = #{auditSign} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<select id="countForMap" resultType="int">
		SELECT
		COUNT(*)
		from
		scm_bank_transfer  a
		scm_bank_transfer  a
		LEFT JOIN sys_user b on  a.`transactor_id`=b.user_id
		LEFT JOIN cus_dictionary c on  a.audit_sign=c.id
		LEFT JOIN scm_bank_transfer_item d on a.id =d.transfer_id
		LEFT JOIN scm_fund_initialization e on  d.transfer_out_acc=e.id
		LEFT JOIN scm_fund_initialization f on  d.transfer_in_acc=f.id
		LEFT JOIN cus_dictionary g on  d.settlement_type=g.id
		<where>
			<if test="id != null and id != ''"> AND id = #{id} </if>
			<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(a.transfer_date,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
			<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(a.transfer_date,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
			<if test="transferCode != null and transferCode != ''"> AND a.transfer_code = #{transferCode} </if>
			<if test="auditSign != null and auditSign != ''"> AND a.audit_sign = #{auditSign} </if>
		</where>
	</select>


</mapper>