<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.OtherReceivablesDao">

	<select id="get" resultType="com.ev.scm.domain.OtherReceivablesDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_other_receivables 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.OtherReceivablesDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_other_receivables
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM scm_other_receivables
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`sign`,`supplier_client_id`,`code`,`amount`,`digest`,`dept_id`,`audit_sign`,`auditor`,`audit_time`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

    <sql id="sql_condition">
       				 <where>
							<if test="maxNo != null and maxNo != ''"> and LEFT(code,CHAR_LENGTH(#{maxNo})) = #{maxNo} </if>
							<if test="id != null and id != ''"> AND id = #{id} </if>
                            <if test="sign != null and sign != ''"> AND sign = #{sign} </if>
                            <if test="supplierClientId != null and supplierClientId != ''"> AND supplier_client_id = #{supplierClientId} </if>
                            <if test="code != null and code != ''"> AND code = #{code} </if>
                            <if test="amount != null and amount != ''"> AND amount = #{amount} </if>
                            <if test="digest != null and digest != ''"> AND digest = #{digest} </if>
                            <if test="deptId != null and deptId != ''"> AND dept_id = #{deptId} </if>
                            <if test="auditSign != null and auditSign != ''"> AND audit_sign = #{auditSign} </if>
                            <if test="auditor != null and auditor != ''"> AND auditor = #{auditor} </if>
                            <if test="auditTime != null and auditTime != ''"> AND audit_time = #{auditTime} </if>
                            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> AND del_flag = #{delFlag} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.OtherReceivablesDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO scm_other_receivables
		(
			`sign`, 
			`supplier_client_id`, 
			`code`, 
			`amount`, 
			`digest`, 
			`dept_id`, 
			`audit_sign`, 
			`auditor`, 
			`audit_time`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		VALUES
		(
			#{sign}, 
			#{supplierClientId}, 
			#{code}, 
			#{amount}, 
			#{digest}, 
			#{deptId}, 
			#{auditSign}, 
			#{auditor}, 
			#{auditTime}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.OtherReceivablesDO">
		UPDATE scm_other_receivables
		<set>
			<if test="sign != null">`sign` = #{sign}, </if>
			<if test="supplierClientId != null">`supplier_client_id` = #{supplierClientId}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="digest != null">`digest` = #{digest}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="auditSign != null">`audit_sign` = #{auditSign}, </if>
			<if test="auditor != null">`auditor` = #{auditor}, </if>
			<if test="auditTime != null">`audit_time` = #{auditTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="updateAll" parameterType="com.ev.scm.domain.OtherReceivablesDO">
		UPDATE scm_other_receivables SET
			`sign` = #{sign}, 
			`supplier_client_id` = #{supplierClientId}, 
			`code` = #{code}, 
			`amount` = #{amount}, 
			`digest` = #{digest}, 
			`dept_id` = #{deptId}, 
			`audit_sign` = #{auditSign}, 
			`auditor` = #{auditor}, 
			`audit_time` = #{auditTime}, 
			`create_by` = #{createBy}, 
			`create_time` = #{createTime}, 
			`update_by` = #{updateBy}, 
			`update_time` = #{updateTime}, 
			`del_flag` = #{delFlag}
		WHERE id = #{id}
	</update>

	
	<delete id="remove">
		DELETE FROM scm_other_receivables WHERE id = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM scm_other_receivables WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
</mapper>