<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.OtherReceivablesDao">

	<select id="get" resultType="com.ev.scm.domain.OtherReceivablesDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_other_receivables 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.OtherReceivablesDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_other_receivables
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM scm_other_receivables
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`sign`,`supplier_client_id`,`code`,`amount`,`digest`,`dept_id`,`audit_sign`,`auditor`,`audit_time`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

    <sql id="sql_condition">
       				 <where>
							<if test="maxNo != null and maxNo != ''"> and LEFT(code,CHAR_LENGTH(#{maxNo})) = #{maxNo} </if>
							<if test="id != null and id != ''"> AND id = #{id} </if>
                            <if test="sign != null and sign != ''"> AND sign = #{sign} </if>
                            <if test="supplierClientId != null and supplierClientId != ''"> AND supplier_client_id = #{supplierClientId} </if>
                            <if test="code != null and code != ''"> AND code = #{code} </if>
                            <if test="amount != null and amount != ''"> AND amount = #{amount} </if>
                            <if test="digest != null and digest != ''"> AND digest = #{digest} </if>
                            <if test="deptId != null and deptId != ''"> AND dept_id = #{deptId} </if>
                            <if test="auditSign != null and auditSign != ''"> AND audit_sign = #{auditSign} </if>
                            <if test="auditor != null and auditor != ''"> AND auditor = #{auditor} </if>
                            <if test="auditTime != null and auditTime != ''"> AND audit_time = #{auditTime} </if>
                            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> AND del_flag = #{delFlag} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.OtherReceivablesDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO scm_other_receivables
		(
			`sign`, 
			`supplier_client_id`, 
			`code`, 
			`amount`, 
			`digest`, 
			`dept_id`, 
			`audit_sign`, 
			`auditor`, 
			`audit_time`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		VALUES
		(
			#{sign}, 
			#{supplierClientId}, 
			#{code}, 
			#{amount}, 
			#{digest}, 
			#{deptId}, 
			#{auditSign}, 
			#{auditor}, 
			#{auditTime}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.OtherReceivablesDO">
		UPDATE scm_other_receivables
		<set>
			<if test="sign != null">`sign` = #{sign}, </if>
			<if test="supplierClientId != null">`supplier_client_id` = #{supplierClientId}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="digest != null">`digest` = #{digest}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="auditSign != null">`audit_sign` = #{auditSign}, </if>
			<if test="auditor != null">`auditor` = #{auditor}, </if>
			<if test="auditTime != null">`audit_time` = #{auditTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="updateAll" parameterType="com.ev.scm.domain.OtherReceivablesDO">
		UPDATE scm_other_receivables SET
			`sign` = #{sign}, 
			`supplier_client_id` = #{supplierClientId}, 
			`code` = #{code}, 
			`amount` = #{amount}, 
			`digest` = #{digest}, 
			`dept_id` = #{deptId}, 
			`audit_sign` = #{auditSign}, 
			`auditor` = #{auditor}, 
			`audit_time` = #{auditTime}, 
			`create_by` = #{createBy}, 
			`create_time` = #{createTime}, 
			`update_by` = #{updateBy}, 
			`update_time` = #{updateTime}, 
			`del_flag` = #{delFlag}
		WHERE id = #{id}
	</update>

	
	<delete id="remove">
		DELETE FROM scm_other_receivables WHERE id = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM scm_other_receivables WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="countCanDelte" resultType="int">
		SELECT
		COUNT(*)
		FROM
		scm_other_receivables
		where
		audit_sign=178
		and id in
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="getHeadDetail" resultType="map">
		select
		a.id,
		a.supplier_client_id as supplierClientId,
		b.name as supplierName,
		c.name as clientName,
		a.code,
		a.amount,
		a.digest,
		a.dept_id as deptId,
		d.name  as deptName,
		a.audit_sign as auditSign,
		e.name as auditSignName,
		a.audit_time as auditTime,
		a.auditor,
		f.name as auditorName,
		a.create_by as createBy,
		g.name  as createByName,
		a.create_time as createTime
		from
		scm_other_receivables a
		LEFT JOIN  cus_supplier b ON a.supplier_client_id=b.id
		LEFT JOIN cus_client c on  a.supplier_client_id=c.id
		LEFT JOIN sys_dept d on  a.dept_id=d.dept_id
		LEFT JOIN cus_dictionary e on  a.audit_sign=e.id
		LEFT JOIN sys_user f on  a.auditor=f.user_id
		LEFT JOIN sys_user g on  a.create_by=g.user_id
		WHERE
		a.id=#{value}
	</select>

	<select id="listForMap" resultType="map">
		SELECT
		*
		from
		(
		select
		a.sign,
		a.id,
		a.supplier_client_id as supplierClientId,
		IF(a.sign='QTYS',c.name,c.name) as clientName,
		IF(a.sign='QTYF',b.name,b.name) as supplierName,
		<!--b.name as supplierName,
		c.name as clientName,-->
		a.code,
		a.amount,
		a.digest,
		a.dept_id as deptId,
		d.name  as deptName,
		a.audit_sign as auditSign,
		e.name as auditSignName,
		a.audit_time as auditTime,
		a.auditor,
		f.name as auditorName,
		a.create_by as createBy,
		g.name  as createByName,
		a.create_time as createTime
		from
		scm_other_receivables a
		LEFT JOIN  cus_supplier b ON a.supplier_client_id=b.id
		LEFT JOIN cus_client c on  a.supplier_client_id=c.id
		LEFT JOIN sys_dept d on  a.dept_id=d.dept_id
		LEFT JOIN cus_dictionary e on  a.audit_sign=e.id
		LEFT JOIN sys_user f on  a.auditor=f.user_id
		LEFT JOIN sys_user g on  a.create_by=g.user_id
		) aa
		<where>
			<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(createTime,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
			<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(createTime,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
			<if test="sign != null and sign != ''"> AND sign = #{sign} </if>
			<if test="auditSign != null and auditSign != ''"> AND auditSign = #{auditSign} </if>
			<if test="code != null and code != ''"> AND code = #{code} </if>
			<if test="clientSupplierId != null and clientSupplierId != ''"> AND supplierClientId = #{clientSupplierId} </if>
			<if test="supplierName != null and supplierName != ''"> AND supplierName Like CONCAT('%',#{supplierName},'%')  </if>
			<if test="clientName != null and clientName != ''"> AND clientName Like CONCAT('%',#{clientName},'%') </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<select id="countForMap" resultType="map">
			SELECT
			count(id) as `count`,
			IF(sum(amount) is null,0,sum(amount)) as totailAmount
			from
			(
			select
			a.sign,
			a.id,
			a.supplier_client_id as supplierClientId,
			b.name as supplierName,
			c.name as clientName,
			a.code,
			a.amount,
			a.digest,
			a.dept_id as deptId,
			d.name  as deptName,
			a.audit_sign as auditSign,
			e.name as auditSignName,
			a.auditor,
			f.name as auditorName,
			a.create_by as createBy,
			g.name  as createByName,
			a.create_time as createTime
			from
			scm_other_receivables a
			LEFT JOIN  cus_supplier b ON a.supplier_client_id=b.id
			LEFT JOIN cus_client c on  a.supplier_client_id=c.id
			LEFT JOIN sys_dept d on  a.dept_id=d.dept_id
			LEFT JOIN cus_dictionary e on  a.audit_sign=e.id
			LEFT JOIN sys_user f on  a.auditor=f.user_id
			LEFT JOIN sys_user g on  a.create_by=g.user_id
			) aa
			<where>
				<if test="startTime != null and startTime != ''"> and  DATE_FORMAT(createTime,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{startTime},'%Y-%m-%d')</if>
				<if test="endTime != null and endTime != ''">  and  DATE_FORMAT(createTime,'%Y-%m-%d') &lt;=   DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>
				<if test="sign != null and sign != ''"> AND sign = #{sign} </if>
				<if test="auditSign != null and auditSign != ''"> AND auditSign = #{auditSign} </if>
				<if test="code != null and code != ''"> AND code = #{code} </if>
				<if test="supplierName != null and supplierName != ''"> AND supplierName Like CONCAT('%',#{supplierClientId},'%')  </if>
				<if test="clientName != null and clientName != ''"> AND clientName Like CONCAT('%',#{clientName},'%') </if>
			</where>
	</select>



</mapper>