<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.OutsourcingContractItemDao">

	<select id="get" resultType="com.ev.scm.domain.OutsourcingContractItemDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_outsourcing_contract_item 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.OutsourcingContractItemDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_outsourcing_contract_item
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                ORDER BY ${sort} ${order}
            </when>
			<otherwise>
                ORDER BY id DESC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
        SELECT COUNT(*) FROM scm_outsourcing_contract_item
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`contract_id`,`materiel_id`,`is_check`,`bom_id`,`is_quota`,`count`,`tax_unit_price`,`tax_rate`,`tax_amount`,
		`unit_price`,`amount`,`taxes`,`delivery_date`,`source_id`,`source_type`,`source_code`,`remarks`,`create_by`,
		`create_time`,`update_by`,`update_time`,
		`del_flag`,
		`close_status`,
		`close_time`,
		`close_reason`
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="id != null and id != ''"> AND id = #{id} </if>
                            <if test="contractId != null and contractId != ''"> AND contract_id = #{contractId} </if>
                            <if test="materielId != null and materielId != ''"> AND materiel_id = #{materielId} </if>
                            <if test="isCheck != null and isCheck != ''"> AND is_check = #{isCheck} </if>
                            <if test="bomId != null and bomId != ''"> AND bom_id = #{bomId} </if>
                            <if test="isQuota != null and isQuota != ''"> AND is_quota = #{isQuota} </if>
                            <if test="count != null and count != ''"> AND count = #{count} </if>
                            <if test="taxUnitPrice != null and taxUnitPrice != ''"> AND tax_unit_price = #{taxUnitPrice} </if>
                            <if test="taxRate != null and taxRate != ''"> AND tax_rate = #{taxRate} </if>
                            <if test="taxAmount != null and taxAmount != ''"> AND tax_amount = #{taxAmount} </if>
                            <if test="unitPrice != null and unitPrice != ''"> AND unit_price = #{unitPrice} </if>
                            <if test="amount != null and amount != ''"> AND amount = #{amount} </if>
                            <if test="taxes != null and taxes != ''"> AND taxes = #{taxes} </if>
                            <if test="deliveryDate != null and deliveryDate != ''"> AND delivery_date = #{deliveryDate} </if>
                            <if test="sourceId != null and sourceId != ''"> AND source_id = #{sourceId} </if>
                            <if test="sourceType != null and sourceType != ''"> AND source_type = #{sourceType} </if>
                            <if test="sourceCode != null and sourceCode != ''"> AND source_code = #{sourceCode} </if>
                            <if test="remarks != null and remarks != ''"> AND remarks = #{remarks} </if>
                            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
							<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
							<if test="closeStatus != null and closeStatus != ''"> and close_status = #{closeStatus} </if>
							<if test="closeTime != null and closeTime != ''"> and close_time = #{closeTime} </if>
							<if test="closeReason != null and closeReason != ''"> and close_reason = #{closeReason} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.OutsourcingContractItemDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO scm_outsourcing_contract_item
		(
			`contract_id`, 
			`materiel_id`, 
			`is_check`, 
			`bom_id`, 
			`is_quota`, 
			`count`, 
			`tax_unit_price`, 
			`tax_rate`, 
			`tax_amount`, 
			`unit_price`, 
			`amount`, 
			`taxes`, 
			`delivery_date`, 
			`source_id`, 
			`source_type`, 
			`source_code`, 
			`remarks`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`,
			`close_status`,
			`close_time`,
			`close_reason`
		)
		VALUES
		(
			#{contractId}, 
			#{materielId}, 
			#{isCheck}, 
			#{bomId}, 
			#{isQuota}, 
			#{count}, 
			#{taxUnitPrice}, 
			#{taxRate}, 
			#{taxAmount}, 
			#{unitPrice}, 
			#{amount}, 
			#{taxes}, 
			#{deliveryDate}, 
			#{sourceId}, 
			#{sourceType}, 
			#{sourceCode}, 
			#{remarks}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag},
			#{closeStatus},
			#{closeTime},
			#{closeReason}
			)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.OutsourcingContractItemDO">
		UPDATE scm_outsourcing_contract_item
		<set>
			<if test="contractId != null">`contract_id` = #{contractId}, </if>
			<if test="materielId != null">`materiel_id` = #{materielId}, </if>
			<if test="isCheck != null">`is_check` = #{isCheck}, </if>
			<if test="bomId != null">`bom_id` = #{bomId}, </if>
			<if test="isQuota != null">`is_quota` = #{isQuota}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="taxUnitPrice != null">`tax_unit_price` = #{taxUnitPrice}, </if>
			<if test="taxRate != null">`tax_rate` = #{taxRate}, </if>
			<if test="taxAmount != null">`tax_amount` = #{taxAmount}, </if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="taxes != null">`taxes` = #{taxes}, </if>
			<if test="deliveryDate != null">`delivery_date` = #{deliveryDate}, </if>
			<if test="sourceId != null">`source_id` = #{sourceId}, </if>
			<if test="sourceType != null">`source_type` = #{sourceType}, </if>
			<if test="sourceCode != null">`source_code` = #{sourceCode}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag},</if>

			<if test="closeStatus != null">  close_status = #{closeStatus}, </if>
			<if test="closeTime != null ">  close_time = #{closeTime}, </if>
			<if test="closeReason != null ">  close_reason = #{closeReason} </if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="remove">
		DELETE FROM scm_outsourcing_contract_item WHERE id = #{value}
	</delete>
	
	<delete id="batchRemove">
        DELETE FROM scm_outsourcing_contract_item WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

    <!--自定义-->
    <delete id="batchRemoveByOutsourcingContractIds">
        DELETE FROM scm_outsourcing_contract_item WHERE contract_id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="listByContract" resultType="map">
		SELECT
		item.`id` AS id,
		item.`materiel_id` AS materielId,
		materiel.serial_no AS materielSerialNo,
		materiel.name AS materielName,
		materiel.specification AS specification,
		unitUom.name AS unitUomName,
		item.is_check AS isCheck,
		IF(item.is_check=1,'是','否') AS isCheckName,
		bom.id AS bomId,
		bom.serialno AS bomSerialNo,
		item.is_quota AS isQuota,
		IF(item.is_quota=1,'是','否') AS isQuotaName,
		item.`count` AS count,
		item.`tax_unit_price` AS taxUnitPrice,
		item.tax_rate AS taxRate,
		item.tax_amount AS taxAmount,
		item.unit_price AS unitPrice,
		item.amount AS amount,
		item.`taxes` AS taxes,
		item.delivery_date AS deliveryDate,
		dics.`id` AS sourceType,
		dics.`name` AS sourceTypeName,
		item.`source_id` AS sourceId,
		item.`source_type` AS sourceType,
		item.source_code AS sourceCode,
		item.close_status   as  closeStatus,
		IF(item.close_status=1,'关闭','未关闭')as closeStatusName,
		item.close_time as itemCloseTime,
		item.close_reason as itemCloseReason,
		item.remarks AS remarks
		<include refid="sql_contract_condition"/>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countByContract" resultType="map">
		SELECT
		count(*) AS totalCount,
		SUM(item.count) AS totalachiningCount,
		SUM(item.tax_amount) AS totalTaxAmount
		<include refid="sql_contract_condition"/>
	</select>

    <sql id="sql_contract_condition">
		FROM scm_outsourcing_contract_item item
		LEFT JOIN cus_materiel materiel ON materiel.`id`=item.`materiel_id`
		LEFT JOIN mes_bom bom ON bom.`id`=item.`bom_id`
		LEFT JOIN cus_dictionary unitUom ON unitUom.id = materiel.`unit_uom`
		LEFT JOIN cus_dictionary dics ON dics.`id` = item.`source_type`
		<where>
			<if test="id != null and id != ''"> and item.id = #{id} </if>
			<if test="contractId != null and contractId != ''"> and item.contract_id = #{contractId} </if>
		</where>
	</sql>

	<select id="getCountBySource" resultType="java.math.BigDecimal">
		SELECT
		SUM(`count`)
		FROM scm_outsourcing_contract_item
		<where>
			<if test="id != null and id != ''"> and id <![CDATA[<>]]> #{id} </if>
			<if test="sourceId != null and sourceId != ''"> and source_id = #{sourceId} </if>
			<if test="sourceType != null and sourceType != ''"> and source_type = #{sourceType} </if>
		</where>
	</select>

	<select id="lineClosingNumber" resultType="int">
	   select
	   count(id)
	   from
	   scm_outsourcing_contract_item
	   where
	   close_status =1
	   and
	   contract_id = #{id}
	</select>




</mapper>