<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.PurchasecontractItemDao">

	<select id="get" resultType="com.ev.scm.domain.PurchasecontractItemDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_purchasecontract_item 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.PurchasecontractItemDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_purchasecontract_item
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from scm_purchasecontract_item
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`purchase_contract_id`,`materiel_id`,`count`,`tax_unit_price`,`unit_price`,`tax_rate`,`tax_amount`,`amount`,`taxes`,`is_check`,`is_overcharge`,`proportion`,`delivery_date`,`source_id`,`source_type`,`source_code`,`remarks`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="id != null and id != ''"> and id = #{id} </if>
                            <if test="purchaseContractId != null and purchaseContractId != ''"> and purchase_contract_id = #{purchaseContractId} </if>
                            <if test="materielId != null and materielId != ''"> and materiel_id = #{materielId} </if>
                            <if test="count != null and count != ''"> and count = #{count} </if>
                            <if test="taxUnitPrice != null and taxUnitPrice != ''"> and tax_unit_price = #{taxUnitPrice} </if>
                            <if test="unitPrice != null and unitPrice != ''"> and unit_price = #{unitPrice} </if>
                            <if test="taxRate != null and taxRate != ''"> and tax_rate = #{taxRate} </if>
                            <if test="taxAmount != null and taxAmount != ''"> and tax_amount = #{taxAmount} </if>
                            <if test="amount != null and amount != ''"> and amount = #{amount} </if>
                            <if test="taxes != null and taxes != ''"> and taxes = #{taxes} </if>
                            <if test="isCheck != null and isCheck != ''"> and is_check = #{isCheck} </if>
                            <if test="isOvercharge != null and isOvercharge != ''"> and is_overcharge = #{isOvercharge} </if>
                            <if test="proportion != null and proportion != ''"> and proportion = #{proportion} </if>
                            <if test="deliveryDate != null and deliveryDate != ''"> and delivery_date = #{deliveryDate} </if>
                            <if test="sourceId != null and sourceId != ''"> and source_id = #{sourceId} </if>
                            <if test="sourceType != null and sourceType != ''"> and source_type = #{sourceType} </if>
                            <if test="sourceCode != null and sourceCode != ''"> and source_code = #{sourceCode} </if>
                            <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
                            <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.PurchasecontractItemDO" useGeneratedKeys="true" keyProperty="id">
		insert into scm_purchasecontract_item
		(
			`purchase_contract_id`, 
			`materiel_id`, 
			`count`, 
			`tax_unit_price`, 
			`unit_price`, 
			`tax_rate`, 
			`tax_amount`, 
			`amount`, 
			`taxes`, 
			`is_check`, 
			`is_overcharge`, 
			`proportion`, 
			`delivery_date`, 
			`source_id`, 
			`source_type`, 
			`source_code`, 
			`remarks`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{purchaseContractId}, 
			#{materielId}, 
			#{count}, 
			#{taxUnitPrice}, 
			#{unitPrice}, 
			#{taxRate}, 
			#{taxAmount}, 
			#{amount}, 
			#{taxes}, 
			#{isCheck}, 
			#{isOvercharge}, 
			#{proportion}, 
			#{deliveryDate}, 
			#{sourceId}, 
			#{sourceType}, 
			#{sourceCode}, 
			#{remarks}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.PurchasecontractItemDO">
		update scm_purchasecontract_item 
		<set>
			<if test="purchaseContractId != null">`purchase_contract_id` = #{purchaseContractId}, </if>
			<if test="materielId != null">`materiel_id` = #{materielId}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="taxUnitPrice != null">`tax_unit_price` = #{taxUnitPrice}, </if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
			<if test="taxRate != null">`tax_rate` = #{taxRate}, </if>
			<if test="taxAmount != null">`tax_amount` = #{taxAmount}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="taxes != null">`taxes` = #{taxes}, </if>
			<if test="isCheck != null">`is_check` = #{isCheck}, </if>
			<if test="isOvercharge != null">`is_overcharge` = #{isOvercharge}, </if>
			<if test="proportion != null">`proportion` = #{proportion}, </if>
			<if test="deliveryDate != null">`delivery_date` = #{deliveryDate}, </if>
			<if test="sourceId != null">`source_id` = #{sourceId}, </if>
			<if test="sourceType != null">`source_type` = #{sourceType}, </if>
			<if test="sourceCode != null">`source_code` = #{sourceCode}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from scm_purchasecontract_item where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from scm_purchasecontract_item where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="batchRemoveByContractId">
		delete from scm_purchasecontract_item where purchase_contract_id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="detailOfItem" resultType="map">
		SELECT
			a.`id` AS id,
			a.`materiel_id` AS materielId,
			b.serial_no AS materielSerialNo,
			b. NAME AS materielName,
			b.specification AS specification,
			b.unit_uom as  unitUom,
		    c.name AS unitUomName,
		    a.is_check as isCheck,
			a.is_overcharge as isOvercharge,
			a.proportion,
		    IF(a.is_check=0,'否','是') AS isCheckName,
			IF(a.is_overcharge=0,'否','是') AS isOverchargeName,
			a.count AS count,
			a.unit_price AS unitPrice,
			a.tax_unit_price AS taxUnitPrice,
			a.tax_rate AS taxRate,
			a.taxes,
		 	a.amount AS amount,
			a.tax_amount AS taxAmount,
		    a.delivery_date AS deliveryDate,
		    a.remarks AS remarks,
			a.source_code as sourceCode,
			a.source_type as sourceType,
			a.source_id as sourceId,
			d.name as sourceTypeName
		FROM
			scm_purchasecontract_item a
        LEFT JOIN cus_materiel b ON b.id=a.materiel_id
        LEFT JOIN cus_dictionary c ON c.id = b.unit_uom
		LEFT JOIN cus_dictionary d ON d.id = a.source_type
		WHERE
		a.purchase_contract_id=#{id}
	</select>

	<select id="totalOfItem" resultType="map">
		SELECT
				IF(SUM(a.count) IS NULL,0,SUM(a.count))as totalCount,
				IF(SUM(a.amount) IS NULL,0,SUM(a.amount))as totalAmount,
				IF(SUM(a.taxes) IS NULL,0,SUM(a.taxes))as totalTaxes
		FROM
		scm_purchasecontract_item a
		LEFT JOIN cus_materiel b ON b.id=a.materiel_id
		LEFT JOIN cus_dictionary c ON c.id = b.unit_uom
		LEFT JOIN cus_dictionary d ON d.id = a.source_type
		WHERE
		a.purchase_contract_id=#{id}
	</select>


	<select id="getInCountOfPurchaseContract" resultType="java.math.BigDecimal">
		SELECT
		sum(`count`)
		FROM
		scm_purchasecontract_item a
		<where>
			<if test="id != null and id != ''"> and a.id<![CDATA[<>]]> #{id} </if>
			<if test="sourceId != null and sourceId != ''"> and a.source_id = #{sourceId} </if>
			<if test="sourceType != null and sourceType != ''"> and a.source_type = #{sourceType} </if>
		</where>
	</select>

	<select id="getInCounteExcludeContractId" resultType="java.math.BigDecimal">
		SELECT
		IF(sum(a.count)is null,0,sum(a.count)) as countractCount
		from
		scm_purchasecontract_item a
		LEFT JOIN scm_purchasecontract b on a.purchase_contract_id=b.id
		<where>
			<if test="contractId != null and contractId != ''"> and b.id &lt;&gt; #{contractId}</if>
			<if test="sourceId != null and sourceId != ''"> and a.source_id = #{sourceId} </if>
			<if test="sourceType != null and sourceType != ''"> and a.source_type = #{sourceType} </if>
		</where>
	</select>



</mapper>