<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.SalesbillItemDao">

	<select id="get" resultType="com.ev.scm.domain.SalesbillItemDO">
		SELECT 
		<include refid="sql_column_list"/>  
		FROM scm_salesbill_item 
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.SalesbillItemDO">
		SELECT 
		<include refid="sql_column_list"/>
		FROM scm_salesbill_item
		<include refid="sql_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from scm_salesbill_item
		<include refid="sql_condition"/>
	</select>

    <sql id="sql_column_list">
		`id`,`source_type`,`source_code`,`source_id`,`salesbill_id`,`materiel_id`,`count`,`tax_amount`,`tax_rate`,`unit_price`,`tax_unit_price`,`amount`,`taxes`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

    <sql id="sql_condition">
        <where>
                            <if test="id != null and id != ''"> and id = #{id} </if>
                            <if test="sourceType != null and sourceType != ''"> and source_type = #{sourceType} </if>
                            <if test="sourceCode != null and sourceCode != ''"> and source_code = #{sourceCode} </if>
                            <if test="sourceId != null and sourceId != ''"> and source_id = #{sourceId} </if>
                            <if test="salesbillId != null and salesbillId != ''"> and salesbill_id = #{salesbillId} </if>
                            <if test="materielId != null and materielId != ''"> and materiel_id = #{materielId} </if>
                            <if test="count != null and count != ''"> and count = #{count} </if>
                            <if test="taxAmount != null and taxAmount != ''"> and tax_amount = #{taxAmount} </if>
                            <if test="taxRate != null and taxRate != ''"> and tax_rate = #{taxRate} </if>
                            <if test="unitPrice != null and unitPrice != ''"> and unit_price = #{unitPrice} </if>
                            <if test="taxUnitPrice != null and taxUnitPrice != ''"> and tax_unit_price = #{taxUnitPrice} </if>
                            <if test="amount != null and amount != ''"> and amount = #{amount} </if>
                            <if test="taxes != null and taxes != ''"> and taxes = #{taxes} </if>
                            <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
                            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
                            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
                            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
                            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
                    </where>
    </sql>
	 
	<insert id="save" parameterType="com.ev.scm.domain.SalesbillItemDO" useGeneratedKeys="true" keyProperty="id">
		insert into scm_salesbill_item
		(
			`source_type`, 
			`source_code`, 
			`source_id`, 
			`salesbill_id`, 
			`materiel_id`, 
			`count`, 
			`tax_amount`, 
			`tax_rate`, 
			`unit_price`, 
			`tax_unit_price`, 
			`amount`, 
			`taxes`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{sourceType}, 
			#{sourceCode}, 
			#{sourceId}, 
			#{salesbillId}, 
			#{materielId}, 
			#{count}, 
			#{taxAmount}, 
			#{taxRate}, 
			#{unitPrice}, 
			#{taxUnitPrice}, 
			#{amount}, 
			#{taxes}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ev.scm.domain.SalesbillItemDO">
		update scm_salesbill_item 
		<set>
			<if test="sourceType != null">`source_type` = #{sourceType}, </if>
			<if test="sourceCode != null">`source_code` = #{sourceCode}, </if>
			<if test="sourceId != null">`source_id` = #{sourceId}, </if>
			<if test="salesbillId != null">`salesbill_id` = #{salesbillId}, </if>
			<if test="materielId != null">`materiel_id` = #{materielId}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="taxAmount != null">`tax_amount` = #{taxAmount}, </if>
			<if test="taxRate != null">`tax_rate` = #{taxRate}, </if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
			<if test="taxUnitPrice != null">`tax_unit_price` = #{taxUnitPrice}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="taxes != null">`taxes` = #{taxes}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from scm_salesbill_item where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from scm_salesbill_item where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

    <!--自定义-->
    <delete id="batchRemoveByBillId">
        delete from scm_salesbill_item where salesbill_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listForMap" resultType="map">
        SELECT
        item.id AS id,
        materiel.serial_no AS materielSerialNo,
        materiel.name AS materielName,
        materiel.specification AS specification,
        unitUom.`name` AS unitUomName,
        item.`count` AS count,
        item.unit_price AS unitPrice,
        item.tax_unit_price AS taxnitPrice,
        item.tax_rate AS taxRate,
        item.amount AS amount,
        item.taxes AS taxes,
        item.tax_amount AS taxAmount,
        item.source_type AS sourceType,
        dict.`name` AS sourceTypeName,
        item.source_code AS sourceCode
        <include refid="sql_map_condition"/>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by item.salesbill_id desc,item.id
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countForMap" resultType="map">
        SELECT
        COUNT(*) AS count,
        SUM(item.`count`) AS totalCount,
        SUM(item.amount) AS totalAmount,
        SUM(item.taxes) AS totalTaxes,
        SUM(item.tax_amount) AS totalTaxAmount
        <include refid="sql_map_condition"/>
    </select>

    <sql id="sql_map_condition">
        FROM scm_salesbill_item item
        LEFT JOIN cus_materiel materiel ON materiel.`id`=item.`materiel_id`
        LEFT JOIN cus_dictionary unitUom ON unitUom.id = materiel.`unit_uom`
        LEFT JOIN cus_dictionary dict ON  dict.id = item.source_type
        <where>
            <if test="id != null and id != ''"> and item.salesbill_id = #{id} </if>
            <if test="itemId != null and itemId != ''"> and item.id = #{itemId} </if>
            <if test="createBy != null and createBy != ''"> and item.create_by = #{createBy} </if>
            <if test="createTime != null and createTime != ''"> and item.create_time = #{createTime} </if>
            <if test="updateBy != null and updateBy != ''"> and item.update_by = #{updateBy} </if>
            <if test="updateTime != null and updateTime != ''"> and item.update_time = #{updateTime} </if>
            <if test="delFlag != null and delFlag != ''"> and item.del_flag = #{delFlag} </if>
        </where>
    </sql>

	<select id="getCountBySource" resultType="java.math.BigDecimal">
		SELECT
		SUM(`count`)
		FROM scm_salesbill_item
		<where>
			<if test="sourceId != null and sourceId != ''"> and source_id = #{sourceId} </if>
			<if test="sourceType != null and sourceType != ''"> and source_type = #{sourceType} </if>
		</where>
	</select>
	
</mapper>