<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ev.scm.dao.StockDao">


	<select id="get" resultType="com.ev.scm.domain.StockDO">
		SELECT
		<include refid="sql_column_list"/>
		FROM scm_stock
		WHERE id = #{value}
	</select>

	<select id="list" resultType="com.ev.scm.domain.StockDO">
		SELECT
		<include refid="sql_column_list"/>
		FROM scm_stock
		<include refid="sql_condition"/>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM scm_stock
		<include refid="sql_condition"/>
	</select>

	<sql id="sql_column_list">
		`id`,`entering_time`,`materiel_id`,`code`,`batch`,`available_count`,`count`,`unit_price`,`amount`,`source_company`,`warehouse`,`wareh_location`,`qrcode_id`,`create_by`,`create_time`,`update_by`,`update_time`,`del_flag`
	</sql>

	<sql id="sql_condition">
		<where>
			<if test="maxNo != null and maxNo != ''"> and LEFT(code,12) = #{maxNo} </if>
			<if test="id != null and id != ''"> AND id = #{id} </if>
			<if test="enteringTime != null and enteringTime != ''"> AND entering_time = #{enteringTime} </if>
			<if test="materielId != null and materielId != ''"> AND materiel_id = #{materielId} </if>
			<if test="code != null and code != ''"> AND code = #{code} </if>
			<if test="batch != null and batch != ''"> AND batch = #{batch} </if>
			<if test="availableCount != null and availableCount != ''"> AND available_count = #{availableCount} </if>
			<if test="count != null and count != ''"> AND count = #{count} </if>
			<if test="unitPrice != null and unitPrice != ''"> AND unit_price = #{unitPrice} </if>
			<if test="qrcodeId != null and qrcodeId != ''"> and qrcode_id = #{qrcodeId} </if>
			<if test="amount != null and amount != ''"> AND amount = #{amount} </if>
			<if test="sourceCompany != null and sourceCompany != ''"> AND source_company = #{sourceCompany} </if>
			<if test="warehouse != null and warehouse != ''"> AND warehouse = #{warehouse} </if>
			<if test="warehLocation != null and warehLocation != ''"> AND wareh_location = #{warehLocation} </if>
			<if test="createBy != null and createBy != ''"> AND create_by = #{createBy} </if>
			<if test="createTime != null and createTime != ''"> AND create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''"> AND update_by = #{updateBy} </if>
			<if test="updateTime != null and updateTime != ''"> AND update_time = #{updateTime} </if>
			<if test="delFlag != null and delFlag != ''"> AND del_flag = #{delFlag} </if>
		</where>
	</sql>

	<insert id="save" parameterType="com.ev.scm.domain.StockDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO scm_stock
		(
		`entering_time`,
		`materiel_id`,
		`code`,
		`batch`,
		`available_count`,
		`count`,
		`unit_price`,
		`amount`,
		`source_company`,
		`warehouse`,
		`wareh_location`,
			`qrcode_id`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
		)
		VALUES
		(
		#{enteringTime},
		#{materielId},
		#{code},
		#{batch},
		#{availableCount},
		#{count},
		#{unitPrice},
		#{amount},
		#{sourceCompany},
		#{warehouse},
		#{warehLocation},
					#{qrcodeId},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.ev.scm.domain.StockDO">
		UPDATE scm_stock
		<set>
			<if test="enteringTime != null">`entering_time` = #{enteringTime}, </if>
			<if test="materielId != null">`materiel_id` = #{materielId}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="batch != null">`batch` = #{batch}, </if>
			<if test="availableCount != null">`available_count` = #{availableCount}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="sourceCompany != null">`source_company` = #{sourceCompany}, </if>
			<if test="warehouse != null">`warehouse` = #{warehouse}, </if>
			<if test="warehLocation != null">`wareh_location` = #{warehLocation}, </if>
			<if test="qrcodeId != null">`qrcode_id` = #{qrcodeId}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="remove">
		DELETE FROM scm_stock WHERE id = #{value}
	</delete>

	<delete id="batchRemove">
		DELETE FROM scm_stock WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>






	<!-- 批量保存库存明细 -->
    <insert id="batchSave" parameterType="List" useGeneratedKeys="true" keyProperty="id">
        insert into scm_stock
        (
        `entering_time`,
        `materiel_id`,
        `code`,
        `batch`,
        `available_count`,
        `count`,
        `unit_price`,
        `amount`,
        `source_company`,
        `warehouse`,
        `wareh_location`,
		`qrcode_id`,
		`create_by`,
        `create_time`,
        `update_by`,
        `update_time`,
        `del_flag`
        )
        values
        <foreach collection="list" item="obj" separator=",">
            (
            #{obj.enteringTime},
            #{obj.materielId},
            #{obj.code},
            #{obj.batch},
            #{obj.availableCount},
            #{obj.count},
            #{obj.unitPrice},
            #{obj.amount},
            #{obj.sourceCompany},
            #{obj.warehouse},
            #{obj.warehLocation},
			#{obj.qrcodeId},
            #{obj.createBy},
            #{obj.createTime},
            #{obj.updateBy},
            #{obj.updateTime},
            #{obj.delFlag}
            )
        </foreach>
    </insert>

	<insert id="batchSaveForCopy" parameterType="List" useGeneratedKeys="true" keyProperty="id">
		insert into scm_stock_init
		(
		`entering_time`,
		`materiel_id`,
		`code`,
		`batch`,
		`available_count`,
		`count`,
		`unit_price`,
		`amount`,
		`source_company`,
		`warehouse`,
		`wareh_location`,
		`qrcode_id`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
		)
		values
		<foreach collection="list" item="obj" separator=",">
			(
			#{obj.enteringTime},
			#{obj.materielId},
			#{obj.code},
			#{obj.batch},
			#{obj.availableCount},
			#{obj.count},
			#{obj.unitPrice},
			#{obj.amount},
			#{obj.sourceCompany},
			#{obj.warehouse},
			#{obj.warehLocation},
			#{obj.qrcodeId},
			#{obj.createBy},
			#{obj.createTime},
			#{obj.updateBy},
			#{obj.updateTime},
			#{obj.delFlag}
			)
		</foreach>
	</insert>

	<select id="listForMap" resultType="java.util.Map">
		SELECT
			stock.`id` AS id,
			stock.`materiel_id` AS materielId,
			materiel.`name` AS materielName,
			materiel.`specification` AS specification,
			materiel.`serial_no` AS serialNo,
			materiel.`is_lot` AS isLot,
			dic.`id` AS unitUom,
			dic.`name` AS unitUomName,
			stock.`batch` AS batch,
			facility.`name` AS warehouseName,
			facility.`id` AS warehouse,
			fl. NAME AS warehLocationName,
			stock.`wareh_location` AS warehLocation,
			stock.`unit_price` AS unitPrice,
			stock.`count` AS `count`,
			stock.`amount` AS amount
		FROM
			scm_stock stock
		LEFT JOIN cus_materiel materiel ON materiel.id = stock.`materiel_id`
		LEFT JOIN cus_dictionary dic ON dic.`id` = materiel.`unit_uom`
		LEFT JOIN cus_facility_location fl ON fl.`id` = stock.`wareh_location`
		LEFT JOIN cus_facility facility ON facility.`id` = stock.`warehouse`
	</select>
	<select id="countForMap" resultType="java.util.Map" parameterType="List">
		SELECT
		SUM(stock.`count`) AS totalCount,
		SUM(stock.`amount`) AS totalAmount
		FROM scm_stock stock
	</select>
	<select id="listForMapForCopy" resultType="java.util.Map">
		SELECT
		stock.`id` AS id,
		stock.`materiel_id` AS materielId,
		materiel.`name` AS materielName,
		materiel.`specification` AS specification,
		materiel.`serial_no` AS serialNo,
		materiel.`is_lot` AS isLot,
		dic.`id` AS unitUom,
		dic.`name` AS unitUomName,
		stock.`batch` AS batch,
		facility.`name` AS warehouseName,
		facility.`id` AS warehouse,
		fl. NAME AS warehLocationName,
		stock.`wareh_location` AS warehLocation,
		stock.`unit_price` AS unitPrice,
		stock.`count` AS `count`,
		stock.`amount` AS amount
		FROM
		scm_stock_init stock
		LEFT JOIN cus_materiel materiel ON materiel.id = stock.`materiel_id`
		LEFT JOIN cus_dictionary dic ON dic.`id` = materiel.`unit_uom`
		LEFT JOIN cus_facility_location fl ON fl.`id` = stock.`wareh_location`
		LEFT JOIN cus_facility facility ON facility.`id` = stock.`warehouse`
	</select>
	<select id="countForMapForCopy" resultType="java.util.Map" parameterType="List">
		SELECT
		SUM(stock.`count`) AS totalCount,
		SUM(stock.`amount`) AS totalAmount
		FROM scm_stock_init stock
	</select>

	<update id="batchUpdate" parameterType="List">
		UPDATE scm_stock
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="entering_time=case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.enteringTime!=null">
						when id=#{item.id} then #{item.enteringTime}
					</if>
					<if test="item.enteringTime==null">
						when id=#{item.id} then scm_stock.entering_time
					</if>
				</foreach>
			</trim>
			<trim prefix="materiel_id =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.materielId!=null">
						when id=#{item.id} then #{item.materielId}
					</if>
					<if test="item.materielId==null">
						when id=#{item.id} then scm_stock.materiel_id
					</if>
				</foreach>
			</trim>
			<trim prefix="code=case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.code!=null">
						when id=#{item.id} then #{item.code}
					</if>
					<if test="item.code==null">
						when id=#{item.id} then scm_stock.code
					</if>
				</foreach>
			</trim>
			<trim prefix="batch =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.batch!=null">
						when id=#{item.id} then #{item.batch}
					</if>
					<if test="item.batch==null">
						when id=#{item.id} then scm_stock.batch
					</if>
				</foreach>
			</trim>
			<trim prefix="count =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.count!=null">
						when id=#{item.id} then #{item.count}
					</if>
					<if test="item.count==null">
						when id=#{item.id} then scm_stock.count
					</if>
				</foreach>
			</trim>
			<trim prefix="available_count =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.availableCount!=null">
						when id=#{item.id} then #{item.availableCount}
					</if>
					<if test="item.availableCount==null">
						when id=#{item.id} then scm_stock.available_count
					</if>
				</foreach>
			</trim>
			<trim prefix="unit_price =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.unitPrice!=null">
						when id=#{item.id} then #{item.unitPrice}
					</if>
					<if test="item.unitPrice==null">
						when id=#{item.id} then scm_stock.unit_price
					</if>
				</foreach>
			</trim>
			<trim prefix="amount =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.amount!=null">
						when id=#{item.id} then #{item.amount}
					</if>
					<if test="item.amount==null">
						when id=#{item.id} then scm_stock.amount
					</if>
				</foreach>
			</trim>
			<trim prefix="source_company =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.sourceCompany!=null">
						when id=#{item.id} then #{item.sourceCompany}
					</if>
					<if test="item.sourceCompany==null">
						when id=#{item.id} then scm_stock.source_company
					</if>
				</foreach>
			</trim>
			<trim prefix="warehouse =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.warehouse!=null">
						when id=#{item.id} then #{item.warehouse}
					</if>
					<if test="item.warehouse==null">
						when id=#{item.id} then scm_stock.warehouse
					</if>
				</foreach>
			</trim>
			<trim prefix="wareh_location =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.warehLocation!=null">
						when id=#{item.id} then #{item.warehLocation}
					</if>
					<if test="item.warehLocation==null">
						when id=#{item.id} then scm_stock.wareh_location
					</if>
				</foreach>
			</trim>
			<trim prefix="qrcode_id =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.qrcodeId!=null">
						when id=#{item.id} then #{item.qrcodeId}
					</if>
					<if test="item.qrcodeId==null">
						when id=#{item.id} then scm_stock.qrcode_id
					</if>
				</foreach>
			</trim>
			<trim prefix="create_by =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.createBy!=null">
						when id=#{item.id} then #{item.createBy}
					</if>
					<if test="item.createBy==null">
						when id=#{item.id} then scm_stock.create_by
					</if>
				</foreach>
			</trim>
			<trim prefix="create_time =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.createTime!=null">
						when id=#{item.id} then #{item.createTime}
					</if>
					<if test="item.createTime==null">
						when id=#{item.id} then scm_stock.create_time
					</if>
				</foreach>
			</trim>
			<trim prefix="update_by =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.updateBy!=null">
						when id=#{item.id} then #{item.updateBy}
					</if>
					<if test="item.updateBy==null">
						when id=#{item.id} then scm_stock.update_by
					</if>
				</foreach>
			</trim>
			<trim prefix="update_time =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.updateTime!=null">
						when id=#{item.id} then #{item.updateTime}
					</if>
					<if test="item.updateTime==null">
						when id=#{item.id} then scm_stock.update_time
					</if>
				</foreach>
			</trim>
			<trim prefix="del_flag =case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.delFlag!=null">
						when id=#{item.id} then #{item.delFlag}
					</if>
					<if test="item.delFlag==null">
						when id=#{item.id} then scm_stock.del_flag
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE id IN
		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
			#{item.id}
		</foreach>

	</update>

</mapper>